$body-bg:    #F3F4F8 !default;
$body-color: #4F466F !default;
$primary:    #F26F22 !default;
$secondary:  #00367A !default;
$white:    #fff !default;
$gray-100: #F0F0F0 !default;
$gray-200: #fafafa !default;
$gray-300: #dee2e6 !default;
$gray-400: #CACED5 !default;
$gray-500: #D5D5D5 !default;
$gray-600: #8B83A4 !default;
$gray-700: #495057 !default;
$gray-800: #888888 !default;
$gray-900: #475F7B !default;
$black:    #000 !default;
$blue:     #007bff !default;
$indigo:   #6610f2 !default;
$purple:   #6f42c1 !default;
$pink:     #e83e8c !default;
$red:      #f05338 !default;
$orange:   #fd7e14 !default;
$yellow:   #ffdf02 !default;
$green:    #36D1A2 !default;
$teal:     #20c997 !default;
$cyan:     #007bff !default;
$thBg:     #F5F5F5 !default;
$input-bg: #fcfcfc !default;
$input-color:$gray-800!default;
$input-btn-padding-x:         .95rem !default;
$line-height-base:            1.86 !default;
$form-group-margin-bottom:     1rem !default;
$input-box-shadow:             inset 0 1px 5px rgba($black, .075) !default;
$input-disabled-bg:$gray-100!default;
$input-btn-focus-width:       .0rem !default;
$form-group-margin-bottom:     2rem !default;
$alert-padding-y:                   .55rem !default;
$alert-padding-x:                   1rem !default;
$alert-border-radius:               .3rem !default;
// $input-border-radius:         .45rem !default;
$border-radius-lg:            .3rem !default;
$border-radius-sm:            .2rem !default;
$form-grid-gutter-width:       20px !default;
// $alert-bg-level:               -6 !default;
$table-hover-bg:              rgba(0, 54, 122, .03) !default;
// $btn-border-radius:           .65rem !default;
$font12: 12px !default;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1400px
) !default;
$grid-gutter-width : 30px !default;
$input-bg: transparent !default;
$input-placeholder-color: #C6C1D6 !default;
//$font-family-base: "Roboto",
//sans-serif;
$font-size-base : 0.875rem !default; // Assumes the browser default, typically `14px`
$font-size-lg : $font-size-base * 1.25 !default;
$font-size-sm : $font-size-base * .875 !default;
$form-group-margin-bottom: 1rem !default;
$input-btn-padding-y-lg: 0.7rem !default;
$h1-font-size : $font-size-base * 2.5 !default;
$h2-font-size : $font-size-base * 2 !default;
$h3-font-size : $font-size-base * 1.75 !default;
$h4-font-size : $font-size-base * 1.5 !default;
$h5-font-size : $font-size-base * 1.25 !default;
$h6-font-size : $font-size-base !default;
$headings-line-height : 1.2 !default;
@import "~bootstrap/scss/bootstrap.scss";
//@import "../src/client/assets/webfont/webRbtFont.scss";
@import "./DashBoardLogin.scss";
@import "./AttStyle.scss";
@import "./AttFlow.scss";
@import "./sort.scss";
@import "./CostBox.scss";
@import "./Filter.scss";
@import "./ResultPage.scss";
@import "./popUp.scss";

