
.dashBordTitle{
    font-size: 18px;
    color: #000;
    .expnd{
        position: relative;

        top:0px;
        right: -5px;
        svg{
            path{
                fill: $gray-400;
                transition: all .5s ease-in-out;
            }
        }
    }
    &:hover{
        svg{
            path{
                fill: $gray-900;
            }
    }
}

}
.dashBordHeader{
    // padding: 20px 0;

    .search{
        background: none;
        .form-control{
            &:focus{
                box-shadow: 0 0 0 0.2rem rgba(255,255,255,.25);
                border-color: $white;

            }
        }
    }
    .hraderRight{
        svg{
            path{
                fill: $white;
            }
        }
        .wallatDetails {
            color: $white;
        }
        .domin{
            .react-select__control{
                border:1px solid $white;
                cursor: pointer;
                &--is-focused{
                    border:1px solid $white;
                    box-shadow: 0 0 0 0.2rem rgba(255,255,255,.25);
                }

            }
            .css-1uccc91-singleValue{
                color: $white;
            }

            .css-v1jrxw-ContentComponent{
                span{
                    color: $white;
                }
            }

        }
    }

    .navigation{
        ul{
            background: rgba(0, 54, 122, .9);
            &:after{
                content: "";
                border-color: transparent transparent $secondary transparent;
            }
            &:before{
                content: "";
                border-color: transparent transparent $secondary transparent;
            }
            li{
                a{
                    color:$white;
                    &:hover{
                        background:#00449A;
                        border-radius: 6px;

                        }
                }
            }
        }
        }
}
.dashBord{
    h1{
        font-weight: 700;
        color: $white;
        font-size: 2.38rem;
    }
}
.dashBordLayout{
    .col{
        flex-basis:inherit;
        &.latestList{
           max-width: 72%;
        }
        &.notiFicationLayout{
            max-width:28%;
            .cardMainlayout{
                height: 95.5%;
            }
        }
    }

}
/*Dashbord reminder section css start*/
.dashBordReminder{

    .react-datepicker{
        border: none;
        display: flex;
        .react-datepicker__navigation{
            &:focus{
                outline-color: transparent;
            }
            overflow: inherit;
            &--previous{
                border-right-color: $gray-900;
                position: relative;
                &::after{
                    content: "";
                    border-style: solid;
                    border-width: 6px 6px 6px 0px;
                    border-color: transparent $white transparent transparent;
                    position: absolute;
                    left: 2px;
                    top: -6.5px;
                }
            }
            &--next{
                border-left-color: $gray-900;
                &::after{
                    content: "";
                    border-style: solid;
                    border-width: 7px 0px 6px 6px;
                    border-color: #682d2d00 transparent #00367a00 $white;
                    position: absolute;
                    left: -8.5px;
                    top: -7.2px;
                }
            }
        }

        .react-datepicker__month-container{
            width: 100%;
            margin-left: -15px;
        }
        .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name{
            width: 2.5rem;
            line-height: 2.5rem;
        }
        .react-datepicker__header{
            background-color: transparent;
            padding-top: 0;
            border-bottom: none;
            .react-datepicker__day-name{
                color: $gray-800;
                font-size: 16px;
            }
        }
        .react-datepicker__month{
            .react-datepicker__day{
                color: $gray-900;
                font-size: 16px;
            }
        }
        .react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range{
            background-color: $green;
            border-radius: 50%;
            box-shadow: 0 1PX 4px rgba(0, 0, 0, .4);
            &.react-datepicker__day{
                color: $white;
            }
            &:focus{
                outline: none;
            }

        }
        .react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected{
            background-color: $green;
            border-radius: 50%;
            box-shadow: 0 2PX 2px #a3a2a2;

            &.react-datepicker__day{
                color: $white;
            }
            &:focus{
                outline: none;
            }
        }
        .react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header{
            color: $gray-900;
            font-weight: normal;
            font-size: 16px;
        }
        .react-datepicker__day-names{
            margin-top: 10px;
        }
        .react-datepicker__month{
            margin: 0;
        }
    }
    .react-datepicker__day:hover, .react-datepicker__month-text:hover, .react-datepicker__quarter-text:hover, .react-datepicker__year-text:hover{
        border-radius: 50%;
    }
}
.dashBordNotification{
    .tabLink .react-tabs .react-tabs__tab-list{
        display: flex;
        border-bottom: 1px solid #ccc;

        .react-tabs__tab.react-tabs__tab{
            color: $gray-900;
            padding:10px 0;
            margin-right: 60px;
            &--selected{
                border: none;
               &::after{
                   content: '';
                   height: 4px;
                   width: 100%;
                   position: absolute;
                   background:$gray-900;
                   bottom: 0;
                   left: 0;
                   border-radius: 30px;
               }
            }
        }
    }
    .alertListDetails{
        border-bottom:1px solid $gray-300 ;
        padding-bottom: 15px;
        margin-bottom: 15px;
        color: $gray-900;
        line-height: 22px;

        span{
            color: $gray-800;
        }

        svg{
            margin-right: 10px;
        }
        &:last-child{
            border-bottom: none;
        }
    }
}
.alerts{
    color: $primary;
span{
    background: $primary;
    height: 18px;
    width: 18px;
    display: flex;
    margin-left:5px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: $white;
    font-size: 12px;
}
}
.reminderCall{
    position: relative;
    border-top:1px solid $gray-300;
    padding-top:15px;
    &::before{
        content: "";
        border-style: solid;
        border-width:8px;
        // border-color: transparent transparent $secondary transparent;
        border-color: $gray-300 transparent transparent transparent;
        position: absolute;
        top: 0px;
        right: 50%;
        margin-right: -7px;
    }
    &::after{
        content: "";
        border-style: solid;
        border-width: 8px;
        // border-color: transparent transparent $secondary transparent;
        border-color: $white transparent transparent transparent;
        position: absolute;
        top: -1px;
        right: 50%;
        margin-right: -7px;
    }
    svg{
        margin-right: 8px;
        margin-top: 2px;
        path{
            fill: rgba(71, 95, 123, .5);
        }
    }
    p{color: $gray-800;

        line-height:20px;
        span{
            color: $gray-900;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            max-width: 180px;
        }
    }
    ul{
        li{

            &:hover{
                p{
                    span{
                        color: $secondary;
                }
            }
            }
        }
    }
    &>div{
        position: relative;
        &:after{
            content: '';
            position: absolute;
            width: 100%;
            height: 20px;
            background: rgb(255,255,255);
            background: linear-gradient(0deg, rgba(255,255,255,1) 1%, rgba(255,255,255,0) 100%);
            bottom: 0;
        }
    }
}
/*Dashbord reminder section css end*/
/*Dashbord best selling package css start*/
.bestSellingPKG{
    h2{
        font-size: 34px;
        width: 150px;
        color: #000;

    }
    p{
        font-size: 16px;
        color: $gray-800;
        line-height: 24px;
    }
    .packDetails{
        position: relative;
        overflow: hidden;
        border-radius: 20px;
        figure{
            margin: 0;
            img{
                width:100%;
                -webkit-transition: all 1s ease-in-out;
                -moz-transition: all 1s ease-in-out;
                -o-transition: all 1s ease-in-out;
                -ms-transition: all 1s ease-in-out;
                transition: all 1s ease-in-out;
            }
            &:after{
                content: '';
                height: 100%;
                width: 100%;
                border:2px solid $white;
                border-radius: 20px;
                position: absolute;
                margin: 0 auto;
                transition: all .4s ease-in-out;
                opacity: 0;
            }
        }
        &:hover{
            img {
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -o-transform: scale(1.1);
                transform: scale(1.1);}
                figure{
                    &:after{
                        height:calc(100% - 40px);
                        width:calc(100% - 40px);
                        bottom: 0;
                        left: 0;
                        right: 0;
                        top: 20px;
                        opacity:.4;
                        z-index: 9;
                    }
                }
        }
    .placeName{
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .duration{
        font-size: 14px;
        font-weight: bold;
    }
    .price{
        position: absolute;
        top: 30px;
        left: 30px;
        background-color: #F26F22;
        color: #fff;
        font-weight: bolder;
        border-radius: 30px;
        font-size: 16px;
        padding: 4px 10px;
        em{
            font-style: normal;
            font-weight: normal;
        }
    }
    .packInfo{
        position: absolute;
        padding: 0 30px 30px;
        bottom: 0;
        color: #fff;
        width: 100%;
        min-height: 82px;
        background: rgb(11,24,41);
        background: linear-gradient(0deg, rgba(11,24,41,1) 10%, rgba(167,162,162,0) 100%);
    }
}
}
/*Dashbord best selling package css end*/
/*Dashbord popular routes css start*/
.popularRoutes{
    margin-top: 20px;
    h3{
        color: $black;
        font-size: 24px;
    }
    p{
        columns: $gray-800;
    }
    .col{
        width: 20%;
        .routs{
            background:$white;
            padding: 20px;
            border-radius: 20px;
            box-shadow: 0px 2px 2px #e8e9e9;
            transition: all .5s ease-in-out;
            cursor: pointer;
            &:hover{
                --transform-scale-x: 1.05;
                --transform-scale-y: 1.05;
                box-shadow: 0 20px 25px -5px rgba(0,0,0,.1), 0 10px 10px -5px rgba(0,0,0,.04);
                padding-left: 1rem;
                padding-right: 1rem;

            }
            div{
                position: relative;
                span{
                    color: $gray-800;
                }
                &:first-child{
                    margin-bottom: 15px;
                    &::after{
                        width: 1px;
                        height: 100%;
                        content: '';
                        position: absolute;
                        border-left: 1px solid $gray-300;
                        top: 20px;
                        left: 4px;
                    }
                    &:before{
                        content: '';
                        height: 8px;
                        width: 8px;
                        position: absolute;
                        background: #D5D5D5;
                        bottom: -11px;
                        left: 0px;
                        border-radius: 50%;
                        border: 2px solid #fff;
                        z-index: 9;
                    }
                }
                svg{
                    margin-right: 15px;
                }

            }
        }
    }
    p{
        color: $gray-800;
    }
}
/*Dashbord popular routes css end*/
/*Dashbord top airline css start*/
.topAirlines{
    margin-bottom: 70px;
    margin-top: 20px;
    h3{
        color: $black;
        font-size: 24px;
    }
    p{
        color: $gray-800;
    }
    .col{
        width: 16.5%;
        .airline{
            background: $white;
            height: 86px;
            border-radius: 20px;
            justify-content: center;
            align-items: center;
            display: flex;
            box-shadow: 0px 2px 2px #e8e9e9;
            transition: all .5s ease-in-out;
            &:hover{
                --transform-scale-x: 1.05;
                --transform-scale-y: 1.05;
                box-shadow: 0 20px 25px -5px rgba(0,0,0,.1), 0 10px 10px -5px rgba(0,0,0,.04);



            }
        }
    }

}
/*Dashbord top airline css end*/
/*Dash Bord css end*/
/* Search tab css start */
.booking{
    margin: 60px 0 0;
    li{
        a{
            background-color: #00367ac7;
            color: $white;
            margin: 0 8px 120px;
            padding: 12px 16px 8px;
            border-radius: 10px;
            align-items: center;
            height: 80px;
            width: 80px;
            transition: all .6s ease-in-out;
            svg{
                transition: all .6s ease-in-out;
                path{
                    fill: $white;
                }
            }
            &.active{
                background-color: $white;
                color: $secondary;
                margin: 0 8px;
                path{
                    fill: $secondary;
                }
                &:hover{
                    background-color: rgba(255, 255, 255, .5);
                    -webkit-backdrop-filter: blur(5px);
                    backdrop-filter: blur(5px);

                }
            }
            &:hover{
                text-decoration: none;
                background-color:rgba(0, 54, 122, .3);
                -webkit-backdrop-filter: blur(5px);
                backdrop-filter: blur(5px);
                svg{
                    // position: relative;
                    transform: scale(1.1);
                }
            }
        }
    }
}
.flighttab{
    margin-top: -100px;
   /* Search tab css end */
   & >.react-tabs{
    .react-tabs__tab{
        span{
                transition: all .4s ease-in-out;
                display: flex;
            }
            &:hover{
                span{
                    transform: scale(1.1);
                }
            }
   }
   }



.tabContent{
    background-color: $white;
    border-radius: 0 20px 20px 20px;
    box-shadow:0px 2px 6px $gray-500;
    padding: 15px;
    transition: all .4s ease-in-out;
    .tabContent{
        padding: 0;
        box-shadow: none;
        border-radius: 0;


    }
}
.react-tabs{

    .react-tabs__tab{
        background-color: rgba(255, 255, 255, 0.3);
        margin: 0;
        color: $white;
        font-size: 16px;
        padding: 15px 20px;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);

        &:first-child{
            border-radius: 20px 0 0 0;
        }
        &:last-child{
            border-radius: 0 20px 0 0;
        }
        &--selected{
            background-color: $white;
            border: none;
            color: $secondary;
        }

    }
}
}
/* Flight search css start */
.flightSearchFrom{
    .airlineCode{
        width: 135px;
    }
    .form-row{
        margin: 0;
        .col{
            max-width: 23%;
            width: 23%;
            flex-basis: inherit;
            padding: 0 10px 0 0;
            &.traveller{
                max-width: 20%;
                width: 20%;
                .form-control{
                    padding-left: 28px;
                }
                input{

                    &::placeholder {
                        color:  $gray-900;
                        font-weight: bold;
                    }

                }
            }
            &.searchHere{
                max-width: 11%;
                width: 11%;
            }
            &:last-child{
                padding: 0;
            }
        }
    }

    .tripType{
        list-style: none;
        justify-content: right;
        align-items: center;

        li{
            display: flex;
            a{
                color: $gray-800;
                padding:0;
                margin-right: 24px;
                margin: 6px 24px 6px 6px;
                position: relative;

                &:hover{
                    text-decoration: none;
                    color: $gray-900;
                    &::after{
                    content: '';
                    height: 2px;
                    width: 100%;
                    background: $gray-900;;
                    display: flex;
                    position: absolute;
                    bottom: 0;
                }
                }
            }
            &.active{
                a{
                color: $gray-900;

                &::after{
                    content: '';
                    height: 2px;
                    width: 100%;
                    background: $gray-900;;
                    display: flex;
                    position: absolute;
                    bottom: 0;
                }

                }
            }
        }
    }

    .form-group{

        .form-control{
            &+.form-label {
                left: 1rem;
            }
        }
        margin-bottom: 1rem;
        .form-label{
            display: flex;
            margin: 0;
            color: $gray-800;
        }
        .addInput{
        border: 1px solid $gray-500;
        border-radius: 10px;
        padding: 10px 15px 5px;

        &.activeSerField{
            border: 1px solid $secondary;
            // .rbt{

            //     &:after{
            //         content: "";
            //         border-style: solid;
            //         border-width: 0 10px 10px 10px;
            //         border-color: transparent transparent $white transparent;
            //         position: absolute;
            //         top: 49px;
            //         left:30px;
            //         z-index: 999;
            //     }
            //     &:before{
            //         content: "";
            //         border-style: solid;
            //         border-width: 0 10px 10px 10px;
            //         border-color: transparent transparent $gray-500 transparent;
            //         position: absolute;
            //         top: 48px;
            //         left:30px;
            //         z-index: 999;
            //     }
            // }
        }
         &.errorSerField{
            border: 1px solid $red;
         }
        label{
        span{
            background-color: $thBg;
            border-radius: 50%;
            padding: 2px;
            height: 22px;
            width: 22px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 5px;
            svg{
                path{
                    fill: $secondary;
                }
            }

        }
    }
        &.destination {
            span{
                transform: rotate(45deg);
            }
        }
        input{
            border: transparent;
            color: $gray-900;
            padding: 0;
            height: 32px;
            font-weight: bold;
            background: transparent;
            &::placeholder {
                color:  $gray-500;
                font-weight: normal;
            }

        }
        .from{
            .react-datepicker-wrapper{
                padding-left: 28px;
            }
        }
        .rbt-menu.dropdown-menu {
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
            border-radius: 10px;
            min-width: 300px;
            padding: 10px;
            z-index: 9;
            opacity: 0;
            top: 4px !important;
            left: -17px !important;
            transition: all 0.4s;
            visibility: hidden;
           overflow: auto;
            border: 1px solid $gray-500;
            margin-top:3px;
            &:after{
                content: "";
                border-style: solid;
                border-width: 0 10px 10px 10px;
                border-color: transparent transparent $white transparent;
                position: absolute;
                top: -10px;
                left:30px;
                z-index: 999;
            }
            &:before{
                content: "";
                border-style: solid;
                border-width: 0 10px 10px 10px;
                border-color: transparent transparent $gray-500 transparent;
                position: absolute;
                top: -11px;
                left:30px;
                z-index: 999;
            }

              &::-webkit-scrollbar {
                width: 5px;
              }

                &::-webkit-scrollbar-thumb {
                background: #00367A;
              }

               &::-webkit-scrollbar-track {
                background: #ddd;
              }



            &.show {
                opacity: 1;
                visibility: visible;
            }

            label {
                font-size: 14px;
                margin-bottom: 7px;
                font-weight: 500;
            }

            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
            }

            li,
            & a {
                padding:0.5rem 1rem 0.3rem 32px;
                position: relative;
                display: block;
                align-items: center;
                cursor: pointer;
                text-overflow: ellipsis;
                width: 100%;
                transition:all 0.2s;

                &:last-child{
                    border-bottom: none;
                }
                svg{
                    position: absolute;
                    left: 10px;
                    top: 34%;
                    margin-top: -7px;
                    width: 12px;
                    height: 12px;
                    transition:all 0.2s;
                    opacity: .5;
                    path{
                        fill: $gray-900;
                    }
                }
                strong {
                    display: block;
                    line-height:normal;
                }
                small {
                    position: absolute;
                    right: 10px;
                    top: 30%;
                    margin-top: -10px;
                    font-weight: bold;
                }
                span {
                    color: $gray-800;
                    font-weight: normal;
                    line-height: normal;
                }

                &:hover {
                    background: $gray-100;
                    color: $secondary;
                    border-radius: 10px;
                    border:$white;
                    svg{
                        opacity: 1;
                    }



                    &:before {
                        background-color: $primary;
                    }
                }
                &.active {
                    background: $gray-100;
                    color: $secondary;
                    border-radius: 10px;
                    border:$white;
                    svg{
                        opacity: 1;
                    }
                }
            }

        }
        &.destination{
            a{
                div{
                    svg{
                        transform: rotate(90deg);

                    }
                }

            }
        }
        }
        .fromto{
            position: absolute;
            left: -20px;
            top: 50%;
            border: 1px solid $gray-500;
            height: 30px;
            width: 31px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background: #fff;
            margin-top: -15px;
            border-top: none;
            border-bottom: none;
            cursor: pointer;
            svg{
                margin-top: 5px;
                transition: all .4s ease-in-out;
                path{
                    fill: $gray-900;
                }
            }
            &.active{
                svg{
                    transform: rotate(180deg);
                    margin-top: -5px;

                }
            }
        }
    }
    .addRow{
        .form-group{
            .addInput{
                padding: 5px 15px;
            }
        }
    }
    .datePick{ 
        .from, .to{
            width: 50%;
        }
        .to{
            margin-left: 30px;
            cursor: pointer;
            label{
                cursor: pointer;
            }
            &:hover{
                label{
                 color: $secondary;
                }
            }
        }
    }
    .searchHere{
        .btn, .loading{
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding: 0;
        }
    }
    &.operationFrom {
        .form-row{
        .col{
            max-width: 31%;
            width: 31%;
            &.clickMe{
                width: 6%;
            }
        }

    }
    }
    input{
        border-radius: 10px;

}
.multySelect{

    .multyOrigin{
        max-width: 68%;
        flex-basis: inherit;
        .form-row {
            .col{
                max-width: 41%;
                width: 41%;
                &.datePick{
                max-width: 18%;
                width: 18%;
                .from{
                    width: 100%;
                }
                }
            }
            &:last-child{
                border-bottom: 1px solid $gray-500;
                margin-bottom: 15px;
            }
        }

    }
    .selectTrvel{
        padding-left: 10px;
        .form-row .col.traveller {
            max-width: 65%;
            width: 65%;
        }
        .form-row .col.searchHere {
            max-width: 35%;
            width: 35%;
        }
    }
    .rout{
    position: absolute;
    right: -72px;
    top: 50%;
    margin-top: -14px;
    display: flex;
    padding: 0;
    align-items: flex-end;
    justify-content: center;
    font-size: 14px;
    z-index: 1;
    cursor: pointer;
    &:hover{
        text-decoration: none;
    }
    svg{
        path{
            fill: $white;
        }
    }
    &.closeMe{
        bottom: 94px;
        span{
            display: flex;
            align-items: center;

            span.closeSeg{
                display: flex;
                height: 16px;
                width: 16px;
                background: red;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
            }
        }
        }
        &.addMe{
            right: -134px;
            color:$secondary ;
            bottom: 26px;
            span{
                display: flex;
                align-items: center;
            span.plus{
                display: flex;
                height: 16px;
                width: 16px;
                background: $secondary;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
            }
        }
        }
    }

}
.addRout{
    .btn-link{
        color: $secondary;
        align-items: center;
        display: inline-flex;
        span{
            background: $secondary;
            height: 14px;
            width: 14px;
            border-radius: 50%;
            align-items: center;
            display: flex;
            justify-content: center;
            margin-right: 6px;
            svg{
                path{
                    fill: $white;
                }
            }
        }
    }
}
.addAirportCode{
    .rbt-menu{
        &.dropdown-menu{
            border-radius: 10px;
            width: 220px !important;
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
            a{
                width:200px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }

    }
}
}
 /* Flight search css end */

 .searchTab{
    transition: all .8s ease-in-out;
    transition-delay: 0.6s;
    .react-tabs{
        .react-tabs__tab{
            font-size: 14px;
            background: transparent;
            margin: 0 24px 20px 0;
            padding: 0;
            span{
                color: $gray-800;
                position: relative;
                &::after{
                    content: '';
                    height: 2px;
                    width: 0%;
                    background: $gray-900;;
                    display: block;
                    position: absolute;
                    bottom: -6px;
                    transition: all .2s ease-in-out;
                }

            }
            &--selected, &:hover{
                border: none;
                span{
                    color: $gray-900;
                    &::after{
                        content: '';
                        width: 100%;

                    }
                }

            }

        }
    }
    .tabContent{
        padding: 0;
    }
}

/* Recent search css start */
.dropDownPopUP{
    margin-top: 12px;
    position: absolute;
    background: #fff;
    z-index: 9;
    border: 1px solid $gray-500;
    border-radius: 10px;
    padding: 15px;
    width: 280px;
    box-shadow: 0px 2px 2px #b3b3b347;

    h5{
        font-size: 14px;
        font-weight: bolder;
        columns: $secondary;
        justify-content: space-between;
        display: flex;
        span{
            cursor: pointer;
            display: flex;
            height: 16px;
            width: 16px;
            background: $gray-800;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            padding: 4px;
            position: relative;
            top: -5px;
            right: -5px;
            svg{
                path{
                    fill: $white;
                }
            }
        }
    }
    em{
        font-size: 12px;
    font-style: normal;
    color: $gray-800;
    svg{
        transform: rotate(-90deg);
    }
    }
    span{
        line-height: normal;
    }
    &:after{
        content: "";
        border-style: solid;
        border-width: 0 8px 10px 8px;
        border-color: transparent transparent $white transparent;
        position: absolute;
        top: -9.5px;
        left:30px;
    }
    &:before{
        content: "";
        border-style: solid;
        border-width: 0 8px 10px 8px;
        border-color: transparent transparent $gray-500 transparent;
        position: absolute;
        top: -11px;
        left:30px;
    }
    .class{
        border-top: 1px solid $gray-500;
        padding: 15px 0 0;
        margin: 10px 0 0;
        .react-dropdown-select span {
            line-height: 24px;
        }
        label{
            margin: 0;
        }
        .css-wmw4vi-ReactDropdownSelect{
            min-height: 30px;
            height: 30px;
            width: 120px;

        }
        .selectWidth{
            width:60%;
        }
    }
    &.travell{
        .updates{
            background: $gray-900;
            border-color: $gray-900;
            width: 100%;
            font-size: 12px;
            font-weight: bold;
            margin-top: 5px;
            opacity: .9;
            &:hover{
                opacity: 1;
            }
        }
        li{
            padding: 2px 0;
            margin-top: 4px;
            label{
                margin: 0;
                color: $gray-900;
                span{
                    color: $gray-800;
                }
            }
        }
        .react-select__control{
            border:1px solid $gray-400;

            &--is-focused{
                background: transparent;
                box-shadow: none;
                border:1px solid $gray-900;
            }

        }
        .react-select__menu{
            top:32px;
            &:after{
                content: "";
                display: none;
            }
            &:before{
                content: "";
                display: none;
            }
        }
    }


}
.latestBooking{
    position: relative;
    ul{
        padding: 0;
        margin: 0;
        list-style: none;
        .date{
            width:1
        }

    }
    .heading{
        color: $gray-900;
        padding:10px;
    }
    .col{
        flex-basis:inherit;
        max-width: 25%;
        &:nth-child(1){
            max-width: 32%;
        }
        &:nth-child(2){
            max-width: 32%;
        }
        &:nth-child(3){
            max-width: 22%;
        }
        &:last-child{
            max-width: 14%;
        }

    }
}
/* Recent search css end */
/* Dashbord booking list css start */
.bookingList{
    border-top: 1px solid $gray-300;
    padding: 15px 10px;
    transition: all .4s ease-in-out;
    cursor: pointer;
    position: relative;
    &:hover{
        background-color:#F5f5f5;
        //box-shadow:0px 6px 10px 0px rgba(0, 0, 0, 0.2);
        // --transform-scale-x: 10;
        // --transform-scale-y: 12;
        // transform: scale(1.1);
        box-shadow: 0 20px 25px -5px rgba(0,0,0,.1), 0 10px 10px -5px rgba(0,0,0,.04);
        transform: scaleX(1.1);
        // width: 93%;
        margin: 0 30px;
        border-top: 1px solid #dee2e6;

        &+.bookingList{
            border-color: transparent;
        }
        &:last-child{
            border-radius: 0 0 20px 20px;
        }
    }
    span{
        color: $gray-800;
        line-height: 24px;
        svg{
            margin-right: 8px;
            path{
                fill: $gray-500;
            }
        }

    }
    .listIcon{
        height: 24px;
        width: 24px;
        background: rgba(71, 95, 123,.1);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-right: 7px;
        padding: 2px;
        svg{
            margin: 0;
            path{
                fill: $gray-900;
            }
        }
    }

    .status{
        svg{
            margin: 0;
        &.confirm{
            path{
                fill: $teal;
            }
        }
        &.failed{
            path{
                fill: $gray-600;
            }
        }
        &.cancelled{
            path{
                fill: $red;
            }
        }
        &.amended{
            path{
                fill: $teal;
            }
        }
        &.pending{
            path{
                fill: $orange;
            }
        }
    }
    }
}
.importButton{
    width: 100%;
}
/* Dashbord booking list css end */
// Date picker css
.datePicker{
    .react-datepicker-popper{
        z-index: 999;
    }
}
.datePicker {

    .react-datepicker{
    border-color:$gray-500;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 12px;
    margin-top: 10px;

    &:after{
        content: "";
        border-style: solid;
        border-width: 0 8px 10px 8px;
        border-color: transparent transparent $white transparent;
        position: absolute;
        top:-10px;
        left:30px;
        z-index: 999;
    }
    &:before{
        content: "";
        border-style: solid;
        border-width: 0 8px 10px 8px;
        border-color: transparent transparent $gray-500 transparent;
        position: absolute;
        top: -11px;
        left:30px;
        z-index: 999;
    }

}
.react-datepicker-popper[data-placement^="top"]{
    .react-datepicker{
        &:after{
            content: "";
            transform: rotate(180deg);
            bottom: -10px;
            top: inherit;
        }
        &:before{
            transform: rotate(180deg);
            bottom: -11px;
            top: inherit;
        }

    }

}
}

.datePicker .react-datepicker *:focus {
    outline: 0;
}

.datePicker .react-datepicker__triangle {
    display: none;
}

.datePicker .react-datepicker__header {
    background:$white;
    border-bottom: 0;
    padding-bottom: 5px;
}

.datePicker .react-datepicker__navigation {
    top: 35px;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    border: 0;
    background: $gray-100;
}

.datePicker .react-datepicker__navigation--next {
    right: 40px;
}

.datePicker .react-datepicker__navigation--previous {
    left: inherit;
    right: 70px;
}

.datePicker .react-datepicker__month {
    margin: 0;
    margin-left: -10px;
}

.datePicker .react-datepicker__current-month,
.datePicker .react-datepicker-time__header,
.datePicker .react-datepicker-year-header {
    margin-bottom: 10px;
    text-align: left;
}

.datePicker .react-datepicker__day-names .react-datepicker__day-name {
    color: $gray-800;
}

.datePicker .react-datepicker__day-names {
    margin-left: -10px;
}

.datePicker .react-datepicker__day-name,
.datePicker .react-datepicker__day {
    margin: 5px;
    font-size: 12px;
}

.datePicker .react-datepicker__day:hover {
    border-radius: 50%;
}

.datePicker .react-datepicker__day--keyboard-selected,
.datePicker .react-datepicker__day--selected {
    border-radius: 50%;
    background-color:$green;
    color: $white;
    font-weight: 500;
    box-shadow: 0 2PX 2px #a3a2a2;
}

.datePicker .react-datepicker-popper[data-placement^="bottom"] {
    margin-top: 12px;
    margin-left: -20px;
}

.datePicker .react-datepicker__navigation--previous:before,
.datePicker .react-datepicker__navigation--next:before {
    position: absolute;
    left: 0;
    text-indent: 0;
    width: 20px;
    font-size: 16px;
    font-weight: bold;
    top: -2px;
    display: block;
}

.datePicker .react-datepicker__navigation--previous:before {

    content: "<";
}

.datePicker .react-datepicker__navigation--next:before {

    content: ">";
    left: 2px
}

.datePicker .react-datepicker__current-month, .datePicker .react-datepicker-time__header, .datePicker .react-datepicker-year-header{
    color: $gray-900;
    font-weight: normal;
    font-size: 16px;
}
.react-datepicker-wrapper .react-datepicker__input-container input{
    z-index: 0;
}
.datePickerIcon{
    position: absolute;
    top: 14px;
    left: 14px;
    background-color: $thBg;
    border-radius: 50%;
    padding: 2px;
    height: 22px;
    width: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
        svg{
            path{
                fill: $secondary;
            }


    }
}
/* End date Picker*/

/* Result page style start*/

/* Modify Search style start*/
.modifySearch{
    background-color: $white;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    .searchInfo{
        border-top: 1px solid $gray-400;
        border-bottom: 1px solid $gray-400;
        min-height: 70px;
        font-size: 16px;
        color: $gray-800;

        .resultCount{
            margin-right: 80px;
        }
        .rout{
            color: $secondary;
            margin-right: 28px;
            svg{
                margin: 0 8px;
                path{
                    fill: $secondary;
                }
            }
        }
        .paxInfo{
            margin: 0 15px;
            span{
                margin-right: 10px;
                &::before{
                    content: '';
                    display: inline-block;
                    height: 4px;
                    width: 4px;
                    background: $secondary;
                    border-radius: 50%;
                    vertical-align: middle;
                    margin-right: 6px;
                }
            }
        }
    }
    .flightSearchFrom{
        padding: 20px 0 10px;
    }
    .changeSearch{
        color: $secondary;
        text-decoration: none;
        svg{
            transition: all .4s ease-in-out;
            path{
                fill: $secondary;
            }
        }
        &.active{
            svg{
                transform: rotate(180deg);
            }
        }
    }
}

/* Modify Search style end*/
/* Filter Style*/
.resultLayout{
    .resultLayout{
        max-width: 75%;
    }
}

.stops{
    ul{
        list-style: none;
        li{
            width:33.33%;
            padding: 0 5px;
            text-align: center;
            color: $gray-900;
            .form-check{
                padding: 0;
                margin: 0;
            }
            .priceLabel{
                font-size: 12px;
                span{
                    color: $gray-800;
                }
            }
        }
    }
    input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding: 10px 0 45px;
  text-align: center;
  font-size: 12px;
  margin-bottom: 6px;
  color: $gray-800;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  border: 1px solid $gray-800;
  max-width: 100%;
  border-radius: 4px;
}

input[type="checkbox"] + label:after {
    content: '';
    display: block;
    width: 70px;
    height: 40px;
    position: absolute;
    left: 50%;
    bottom: 4px;
  background: url(../src/client/assets/images/stop.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-left: -35px;
  }
input[type="checkbox"]:checked + label{
    border: 1px solid $primary;
}
}
/* Filter Style snd*/

/*Increment and decrement Style start*/
.incDec{
    button{
        background: transparent;
        padding: 2px;
        margin: 0;
        height: 16px;
        width: 16px;
        border: 1px solid $gray-900;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        svg{
            path{
                fill: $gray-900;
            }
        }
    }
    .number{
        border: none;
        padding: 0;
        width: 30px;
        margin: 0;
        text-align: center;
        color: $gray-900;
    }
}
/*Increment and decrement Style end*/
/*PopUp style start*/
.layover{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0.5);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    opacity: 1;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    &.layout{
        position: relative;
        background: none;
        min-height:calc(100vh - 330px);
        height: 100%;
    }
    .popUpBox{
        background: #fff;
        display: flex;
        flex-direction: column;
        width: 360px;
        border-radius: 20px;
        padding: 30px 58px;
        align-items: center;
        box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
        &.resultNotFound{
            padding: 30px 40px;
        }
        &.paymentFailed{
            width:460px;
            padding: 30px 15px;
        }
        .icons{
            height: 45px;
            width: 45px;
            background-image: url(../src/client/assets/images/attSpriteImage.svg);
            background-position: -156px -11px;
            &.process{
                height: 48px;
                width: 48px;
                background-position: -224px -11px;
            }
            &.notFound{
                background-position: -85px -11px;
            }
            &.failed{
                background-position: -16px -11px;
            }
        }
        strong{
            font-size: 16px;
            color: $gray-900;
            margin: 15px 0 10px;
        }
        p{
            color: $gray-800;
            line-height: 22px;
            text-align: center;
            font-weight: normal;
            font-size: 14px;
            &.processInfo{
                color: $gray-900;
            }
        }
        .seccionBtn{
            width: 100%;
            justify-content: space-between;
        }
        .btn-primary, .refresh{
            background: $gray-900;
            width: 115px;
            height: 34px;
            border-color: $gray-900;
            line-height: 34px;
            padding: 0;
            font-weight: bold;
        }
        .btn-outline-secondary{
            border-color: $gray-900;
            color: $gray-900;
            &:hover{
                color: $white;
                background-color: $gray-900;
            }
        }
        a{
            color: $secondary;
        }
    }
}
/*PopUp style end*/
.BookingStep{
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
    .step{
        padding: 20px;
        position: relative;
        width: 33.33%;
        &:after{
            content: "";
            border-style: solid;
            border-width: 40px 0px 40px 40px;
            border-color: #682d2d00 transparent #00367a00 $white;
            position: absolute;
            top: 0px;
            right: 0;
        }
        &:before{
            content: "";
            border-style: solid;
            border-width: 40px 0px 40px 40px;
            border-color: #682d2d00 transparent #00367a00 $gray-300;
            position: absolute;
            top: 0px;
            right:-1px;
        }
        &:last-child{
            &:before{
                content: "";
                display: none;
            }
        }

    .stepMark{
        height: 40px;
        width: 40px;
        background: $teal;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

    }
    .logo{
        height: 28px;
        margin: 0 10px 0 15px;
    }
    .date{
        font-size: 16px;
        color: $gray-900;
    }
}
}
.showHideLayout{
    background: $white;
    .clickAction{
        background: $gray-100;
        height: 18px;
        width: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 2px;
        border-radius: 2px;
    }
}

.penal {

	transition: max-height 0.5s ease-in; // note that we're transitioning max-height, not height!
	height: auto;
	max-height: 2000px; // still have to hard-code a value!


}

.up+.penal {
	// "height: 0" not work with css transitions
	max-height: 2000px;
	background: #fff;
	.showHide-content{
		padding: 10px;
		background: #fff;
	}
}

.down+.penal.hide {
    transition: max-height 0.5s ease-out;
    overflow: hidden;
	// *squish*
	max-height: 0;
	.showHide-content{
		padding: 10px;
		background: #fff;
	}
}
.boxLayout{
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    .subTitle{
        font-size: 16px;
        font-weight: bold;
        margin-bottom:20px;
        color: $gray-900;
        span{
            font-weight: normal;
        }
    }
    .panelTitle{
        svg{
            height: 18px;
            width: auto;
            margin-right: 6px;
            path{
                fill: $black;
            }
        }
    }

}
.boxTitle, .panelTitle{
    font-size: 18px;
    color:$black;
    display: flex;
}
.extradetails{
    padding: 20px 20px 0;
    border: 1px solid $gray-500;
    background: #FAFAFA;
    border-radius: 6px;
    margin-top: 20px;
    .add{
        background: #00367A;
    height: 16px;
    width: 16px;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    margin-top: 12px;
    svg{
        path{
            fill: $white;
        }
    }

    }
    .form-group {
        margin-bottom: 1.2rem;
    }
}
.otherInfo{
    a{
        position: relative;
        margin-right: 30px;
        color: #475F7B;
        display: flex;
        align-items: center;
        span{
            height: 18px;
            width: 18px;
            background-color: #F1F1F1;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 6px;
            border-radius: 4px;
        }
        &.active{
        &:after{
            content: "";
            border-style: solid;
            border-width: 0 12px 14px 12px;
            border-color: transparent transparent #FAFAFA transparent;
            position: absolute;
            bottom: -22px;
            left: 50%;
            margin-left: -7px;
        }
        &:before{
            content: "";
            border-style: solid;
            border-width: 0 12px 14px 12px;
            border-color: transparent transparent $gray-500 transparent;
            position: absolute;
            bottom: -20px;
            left: 50%;
            margin-left: -7px;
        }

    }
}
}

.loaderIcon {
    border: 5px solid #e6e6e6;
    border-radius: 50%;
    border-top: 5px solid $primary;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position:absolute;
    top:50%;
    left:50%;
    margin: -25px 0 0 -25px;
    z-index:3;
  }
  .norecord{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    height: 97%;
    background:$gray-100;
    border-radius: 20px;
    strong{
        font-size: 16px;
        color: $gray-900;
    }
  }
 
.continue{
    width: 180px;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    justify-content: center;
    &.progress-bar{
        background-color: $green;
    }
}
.costLayout{
    border: 1px dashed $gray-500;
    &.times{
        border: 1px dashed $secondary;
        padding: 15px;
        h3{
            color: $secondary;
            font-weight: bold;

        }
    }
}



.paymentSec{
    .react-tabs{
        ul{
            display: flex;
        flex-direction: column;
        margin-right: -1px;
        margin-top: -1px;
            li{
                width: 155px;
                height: 55px;
                align-items: center;
                display: flex;
                margin: 0;
                color: $secondary;
                padding-left: 20px;
                font-size: 16px;
                span{
                    display: flex;
                    align-items: center;
                    svg{
                        path{
                            fill: $gray-900;
                        }
                    }
                }
                &.react-tabs__tab.react-tabs__tab--selected{
                    background: $gray-200;
                   border: 1px solid $gray-100;
                   border-right: 1px solid $gray-200;
                   border-radius: 6px 0 0 6px;
                   color: $secondary;
                   font-weight: bold;
                   svg{
                    path{
                        fill: $secondary;
                    }
                }
                }
            }
        }

    }
.tabContent{
    width: 100%;
    background: $gray-200;
    border: 1px solid $gray-100;
    padding: 20px;
    transition: all .4s ease-in-out;
}
.totalPay{
    background: $gray-100;
    color: $gray-900;
    padding: 10px 15px;
    border-radius: 6px;
    strong{
        color: $secondary;
    }
}
.cardHilight{
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid $primary;
    border-radius: 6px;
    margin-top: 10px;
    color: $gray-900;
    strong{
        color: $secondary;
    }
    p{
        width: 70%;
    padding-right: 20px;
    }
    .creditINfo{
        width: 30%;
    }
}
.cardPayment{
    background: $white;
    padding: 20px 20px 0;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid $gray-100;

    .paymentTop{
        border-bottom: 1px solid $gray-300;
        margin-bottom: 25px;
        span{
            strong{
                color: $secondary;
            }
        }
    }
    .form-group{
        &.cardnumber{
            &::before{
                content: '';
                background-image: url(../src/client/assets/images/attSpriteImage.svg);
                height: 20px;
                width: 124px;
                display: flex;
                background-position: -141px -86px;
                position: absolute;
                right: 18px;
                top: 12px;
            }
            &.visa{
                &::before{
                    content: '';
                    width: 40px;
                    background-position: -162px -85px;
                }
            }
        }
    .form-control{
        padding-left: 36px;

        +.form-label{
            left: 2.8rem;
            color: $secondary;
        }
    }

    svg{
        position: absolute;
        top: 11px;
        left: 20px;
    }
    small{
        font-size: 10px;
    }

}
.selectplugin{
    label{
        left: 44px;
    }
}
}
.tc{
    a{
        color:$secondary;
        text-decoration: underline;
        &:hover{
            text-decoration: none;
        }

    }
}
.conffirm{
    .btn{
        color: $white;
    }
}
}
.searchAdv{
    color:$gray-900;
    transition: all .5s ease-in-out;

    span{
        cursor: pointer;
    }
    .plusAdv{
        background-color: $gray-900;
        padding: 3px;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        }
}
.confirmation{
    .topSec{
        svg{
            path{
                fill: $secondary;
            }
        }
        a{
            &:hover{
                svg{
                    path{
                        fill: $primary;
                    }
                }
            }
        }
    }
}
.advSerch{
    transition: max-height 0.5s ease-in; // note that we're transitioning max-height, not height!
	height: auto;
    //transition: opacity .5s cubic-bezier(.68, -.55, .265, 1.55), transform .5s cubic-bezier(.68, -.55, .265, 1.55);
    transform-origin: 0 0;
    border-top:1px solid $gray-300;
    padding-top: 20px;
    margin-top:5px;
    position: relative;
    &:after{
        content: "";
        border-style: solid;
        border-width: 0 8px 10px 8px;
        border-color: transparent transparent $white transparent;
        position: absolute;
        top: -9px;
        right:55px;
    }
    &:before{
        content: "";
        border-style: solid;
        border-width: 0 8px 10px 8px;
        border-color: transparent transparent $gray-500 transparent;
        position: absolute;
        top: -10px;
        right:55px;
    }
    &.inactive{
       // display: none;
        transform: scaleY(0);
         opacity: 0;
         transition: max-height 5s ease-out;
         overflow: hidden;
         max-height: 0;

    }
    &.active{
        //display: block;
        transform: scaleY(1);
        opacity: 1;
        height: auto;
        transition: all .5s ease-in-out;
    }
}
.bookingListInfo{
    .btn{
        position: relative;
        background-color: $white !important;
        transition: all .5s ease-in-out;
        padding: 8px 20px;
        svg{
            path{
                fill: $gray-900;
            }
            color:$gray-900;
        }
        &.active, &:hover{
            background-color: $white !important;
            color: $primary !important;
            border-color: $primary !important;
            transition: all .5s ease-in-out;
            svg{
                path{
                    fill: $primary;
                }
            }
            &::after{
                content: "";
                border-style: solid;
                border-width: 8px;
                border-color: $white transparent transparent transparent;
                position: absolute;
                bottom: -16px;
                right: 50%;
                margin-right:-8px;
            }
        &::before{
            content: "";
            border-style: solid;
            border-width:8px;
             border-color: $primary transparent transparent transparent;
            position: absolute;
            bottom: -17px;
            right: 50%;
            margin-right: -8px;
        }
    }
    }
}
.moreDetails{
    position: relative;
    &.bookingInfo{

        svg{
            border: 1px solid $gray-300;
            height: 26px;
            width: 30px;
            padding: 4px 5px;
            border-radius:4px;
            transition: all .5s ease-in-out;
            path{
                fill: $gray-900;
            }
            &:hover{
                border: 1px solid $secondary;
                path{
                    fill: $secondary;
                }
            }
        }

    }
    .showDetails{
        left: inherit;
        right: -28px;
        min-width: 150px;
        width: auto;
        position: absolute;
        top: 40px;

        ul{
            list-style: none;
            padding: 10px 0;
            margin: 0;
            width: auto;
            &:before{
                right: 34px;
            }
            &:after{
                right: 34px;
            }
            li{
                white-space: nowrap;
                a{
                    font-size:14px;
                    color:$gray-900;
                    padding:6px 15px ;
                    display: flex;
                    font-size:14px;
                    line-height: normal;
                    &:hover{
                        text-decoration: none;
                        background: $gray-100;
                    }

                }
            }
        }

    }

}
.itnry{
    font-size: 12px;
    color: $gray-900;
    margin-right: 40px;
    em{
    font-style: normal;
    }
}

 /* Safari */
 @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .hraderRight{float:right;}
.labdata{width: 220px;
    
    margin-right: 22px;
    
    padding: 10px;
    position: relative;
    border: 1px solid #d6d6d6;
    border-radius: 6px;
}
.addbtn button{
    position: absolute;
    top: 270px;
    right: 20px;
    padding: 0px 15px;
    font-weight: bold;

}
.tab-content{
    border-top: 1px solid #e2e2e2;
    margin-top: 10px;
    padding-top: 17px;
}
table tr:hover{box-shadow: none !important;}
.labdata-tbl{
    display: flex;
    width: 100%;
    padding-top: 30px;
    overflow-x: scroll;
}
.labdata-tbl span{margin-left: 10px;
    color: #f26f22;}
.labdata-tbl .form-row{width: 220px;}
.react-datepicker-wrapper .react-datepicker__input-container input{    border: 1px solid #CACED5; background: #fff;}
.labdata-tbl .datePicker{padding: 0; margin-top:10px ;}
.labdata-tbl .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
}
.labdata-tbl .delete{
    position: absolute;
    top: -20px;
    left: -32px;
}

.labdata-tbl .delete button
{    background: #e8e8e8;}
/*.labdata-tbl .btn-link:hover{color:#fff;}*/
.drugchart .divider{
    border: 2px solid#F26F22;
    padding: 24px 10px 0px 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    position: relative;
    &.in-active {
        border-color: #ccc;
    }
}

.drugchart .iconBtn{
    background: #ccc;
    position: absolute;
    bottom: 35px;
    right: 0;
}
.nav-link{color:#fff;}
.nav-link:hover{color:#fff !important;}
.css-f91fgu, .css-f91fgu div{background:#fff !important;}
/*.css-1cf7s5m{color: #fff;
    background: #f26f22 !important;} 
.css-1s1o8u8{background: #fff;}*/
.border-left {
    border-left: 1px solid #e4e4e4 !important;
}
.nav-pills .nav-link{    color: #000;
    border: 1px solid #ccc;
    margin-right: 10px;}
    .nav-pills .nav-link:hover{background-color: #F26F22; color:#fff;}
    .css-a3ww0f{font-family: "Roboto", sans-serif !important;
        font-size: 0.875rem !important;
        font-weight: 400;}
        .css-1u94gzr{margin: -11px 0 0 -10px !important; right: 5px !important;}
        .css-79elbk{
            border-bottom: 1px solid #e6e6e6;
            margin-bottom: 4px;
            margin-top: 4px;
        }
        .css-1s1o8u8 .css-79elbk:last-child{border-bottom: none !important;}
        .css-1cf7s5m{padding-top:3px;    color: #000;}
        .medicationh{border:1px solid #ccc; padding: 13px; border-radius:4px;margin-bottom: 12px;}
        .medicationh .form-group{margin-bottom: 0;}

        .ccGrid{border:1px solid #ccc; padding: 13px; border-radius:4px;margin-bottom: 12px;}
        .ccGrid .form-group{margin-bottom: 0;}
        .navbar {
            padding: 1px 0;
        }
        .navbar-nav a{color:#fff;}
        .navbar-nav li{float: left;
            margin-top: 9px;
            margin-right: 20px;}
        .navbar-nav .active{color: #f26f22;}
       .ehealthlogo {font-size: 20px;
            margin-bottom: 20px;}
            .dropdown-item{    color: #475F7B !important;}
            .dropdown-item.active, .dropdown-item:hover{color:#fff !important; background:#f26f22;}

.search-block {
    position: absolute;
    right: 0;
    .btn-link {
    position: absolute;
    top: 2px;
    right: 0;
}
.form-control {
    min-width: 300px;
    height: auto;
    padding: 2px 8px;
    margin-top: 4px;
}
}
.breadcrumb {
    display: none !important;
}
.custom-dailog .modal-header {
    padding: 5px 20px;
}

.custom-dailog-title {
    text-align: center;
    display: block;
    font-size: 18px;
    line-height: normal;
    padding: 0 60px;
    margin-bottom: 20px;
}

.custom-dailog-sub-title {
    display: block;
    text-align: center;
    margin: 15px 0;
}

.custom-dailog .buttonGrop {
    text-align: center;
}