
body{
    // background: url(./client/assets/images/bannerTop.jpg) center top fixed;
    // background-repeat: no-repeat;
    // background-size: contain;

    // overflow: scroll;
    overflow-x: hidden;
    .css-1pahdxg-control{
        border-color:$primary;
        box-shadow:none;
        &:hover, &:focus{
            border-color:$primary;
            box-shadow:none
        }

    }

}
.selectMe{
    .css-2613qy-menu, div[class*="-2613qy-menu"]{
        z-index: 999;
    }
}
.cardMainlayout{
    background:$white;
    margin: 15px auto;
    min-height: calc(100vh - 198px);
    border-radius: 20px;
    box-shadow:0 0 5px rgba(0, 0, 0, .1);
    padding: 1rem;
    &.min-height{
        min-height: inherit;
    }
}
.contentArea{
    padding-top: 25px;
}
.app-header-wrapper{
    min-height: 82px;
}
/*login layout start*/
.login-page {
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(https://septosha.chitrakootweb.com/img/banner/slide-05.jpg) no-repeat center;
    align-items: center;
    justify-content: center;
    background-size: cover;
    &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.5);
    }
}
.login-card{
    width: 330px;
    padding: 2rem;
    box-shadow: 0px 4px 5px #444444;
    border-radius: 5px;
    border: none;
  img{
    position: absolute;
    top: -70px;
    left: 50%;
    margin-left: -92px;
  }
}
/*login layout end*/
.change-pwd {
    background:url(https://septosha.chitrakootweb.com/img/bg/bg-06.jpg) no-repeat center;
    background-size: cover;
    &::before {
        background: #00bcd1;
        opacity: 0.6;
    }
    .login-card {
        width: 430px;
    }
    &--txt {
        margin-bottom: 20px;
        p{
        font-style: italic;
        font-size: 12px;
        margin-bottom: 0;
        opacity: 0.8;
        display: list-item;
        margin-left: 20px;
        }
    }
}
/*Header start*/
.app-header{
    background-color: $white;
    .app-header-logo{
        font-size: 1.5rem;
        font-weight: bold;
        padding: 1rem 0;
    }
}


.hraderRight{
    align-items: center;
    svg{
        path{
            fill: $gray-900;
        }
    }
    .search{
        background: $white;
        border-radius: 32px;
        position: relative;
        .searchIcon{
            position: absolute;
            top: 50%;
            right: 14px;
            margin-top: -7px;
            cursor: text;
        }
        .form-control{
            margin: 0;
            border-radius: 32px;
            padding-right: 30px;
            padding-left: 20px;
            height: 36px;
            &::placeholder {
                color:$gray-800;
                font-size: 12px;
                font-weight: 500;
            }
            &:focus{
                border-color: $secondary;
            }
        }

    }
    .wallatDetails{
        color: $secondary;
        line-height: 22px;
    }
.domin{
    .css-yk16xz-control, .css-1pahdxg-control, .css-1ro1so2-control{
        background: transparent;
        box-shadow: none;
    }
    .react-select__single-value{
        color: $gray-900;
    }
    .react-select__indicator{
        padding: 0;
        margin-right: 6px;
    }
    .css-1okebmr-indicatorSeparator{
        display: none;
    }
    .form-group{
        margin: 0;;
    }

.react-select__control{
    border:1px solid $gray-400;
        width:80px;
        min-height: 36px;
        border-radius: 20px;
        .css-yk16xz-control{
            min-height: 32px;
        }
    &--is-focused{
        background: transparent;
        box-shadow: none;
        border:1px solid $secondary;
    }

}

        // .react-select__control{
        //     +.react-select__menu{
        //         transform: scaleY(0);
        //         opacity: 0;
        //         height: 0;
        //     }
        // }
        // .react-select__control{
        //     &.react-select__control--menu-is-open{
        //         +.react-select__menu{
        //             transform: scaleY(1);
        //             opacity: 1;
        //             height: auto;
        //             transition-delay: 2s;

        //         }
        //     }

        // }

    }

}
.react-select__menu{
    width: 100px;
    margin-left: 0px;
    border-radius: 6px;
    padding: 10px 0;
    top: 42px;
    // top: 100%;
    // transform-origin: 0 0;
    // transition: opacity .5s cubic-bezier(.68, -.55, .265, 1.55), transform .5s cubic-bezier(.68, -.55, .265, 1.55);
    // transition: all 1s ease-in-out;
    &:after{
        content: "";
        border-style: solid;
        border-width: 0 8px 10px 8px;
        border-color: transparent transparent $white transparent;
        position: absolute;
        top: -9px;
        right:10px;
    }
    &:before{
        content: "";
        border-style: solid;
        border-width: 0 8px 10px 8px;
        border-color: transparent transparent $gray-500 transparent;
        position: absolute;
        top: -10px;
        right:10px;
    }
    .react-select__menu-list{
        padding: 0 10px;



    }
    .react-select__option{
        padding: 5px 10px;
        border-radius: 6px;
        margin-bottom: 4px;
        color: $gray-900;
        &--is-selected{
            color: $white;
        }


    }
}
/*Header end*/
/*Top menu start*/
.topMenu {
    cursor: pointer;


}
.navigation, .showDetails, .sortBy{
    position: relative;
    ul{
        position: absolute;
        background: $white;
        padding:10px 0;
        box-shadow:0px 0px 2px rgba(89, 88, 88, .4);
        margin-top: 28px;
        right: 0;
        top: 100%;
        border-radius: 6px;
        z-index: 9;
        transition: opacity .5s cubic-bezier(.68, -.55, .265, 1.55), transform .5s cubic-bezier(.68, -.55, .265, 1.55);
        transform-origin: 0 0;
        &:after{
            content: "";
            border-style: solid;
            border-width: 0 8px 10px 8px;
            border-color: transparent transparent $white transparent;
            position: absolute;
            top: -9px;
            right:7px;
        }
        &:before{
            content: "";
            border-style: solid;
            border-width: 0 8px 10px 8px;
            border-color: transparent transparent $gray-500 transparent;
            position: absolute;
            top: -10px;
            right:7px;
        }
    }
    &.inactive{
        ul{
            transform: scaleY(0);
            opacity: 0;
        }
    }
    &.active{
        ul{
            transform: scaleY(1);
            opacity: 1;
        }
    }
}

.navigation{
    ul{
        width: 200px;

        li {
            display: block;
            padding:0;
            a{
                border-bottom: 1px solid $gray-400;
                padding: 5px 25px 5px 15px;
                font-size: 0.95rem;
                color:$secondary;
                display: flex;
                align-items: center;
                margin: 0 10px;
                background: rgba(0, 68, 154, .0);
                transition: all .6s ease-in-out;
                border-radius: 6px;
               &:hover{
                background: rgba(0, 68, 154, 1);
                border-radius: 6px;
                color: $white;
                svg{
                    path{
                        fill: $white;
                    }
                }

                }
                svg{

                    margin-right: 15px;
                    path{
                        transition: all .6s ease-in-out;
                    }
                }
            }
              }
            &:last-child{
                a{
                    border: none;
                }

            }
        }

    }
/*Top menu end*/
/*Main menu start*/
.menyLayout{
    background-color: $secondary;
}
.MainMenu{
    ul{
        padding: 0;
        list-style: none;
        li{
            //transition: all .4s ease-in-out;
            &:hover{
                a{
                   background:#194D8E;
                    padding-left: 15px;
                    padding-right: 15px;
                //    margin-right: 30px;

                }
            }
            a{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px 30px 0px 0;
            margin-right: 10px;
            justify-content: center;
            position: relative;
            min-height: 60px;
            transition: all .4s ease-in-out;
            span{
                font-size: 14px;
                color: $white;
                display: inline-block;
                margin-left: 10px;

            }
            svg{
                z-index: 6;
              fill: $white
            }
            &:hover{
                text-decoration: none;

            }
            }
            &.active{
                a{
                    background:#194D8E;
                    padding-left: 15px;
                    padding-right: 15px;
                }
                span{

                    &::after{
                        content: "";
                        border-style: solid;
                        border-width: 0 12px 12px 12px;
                        border-color: transparent transparent $body-bg transparent;
                        position: absolute;
                        bottom: 0px;
                        right: 50%;
                        margin-right: -12px;
                    }
                }

            }

        }
    }
}
/*Mein menu end*/
/*Sub menu start*/
.submenu{
        border-bottom: 2px solid $gray-500;
        display: flex;
    ul{
        padding: 0;
        list-style: none;
        display: flex;
        margin: 0;
        li{
            display: flex;
            align-items: center;
            a{
                color: $gray-800;
                padding: 1rem 1.5rem 1rem .2rem;
                &:hover{
                    color: $primary;
                    text-decoration: none;
                }
            }
            &.active{
                position: relative;
                a{
                    color: $primary;
                    position: relative;

                    &:after{
                        content: '';
                        display: block;
                        width: calc(100% - 1.5rem);
                        height: 2.5px;
                        background-color: $primary;
                        position: absolute;
                        left: 0;
                        bottom: -1.8px;
                        border-radius: 52px;



                    }
                    &::before{
                        content: "";
                        border-style: solid;
                        border-width:8px;
                        // border-color: transparent transparent $secondary transparent;
                        border-color: $primary transparent transparent transparent;
                        position: absolute;
                        bottom: -17px;
                        right: 50%;
                        margin-right: 4px;
                    }
                }
                &::after{
                    content: "";
                    border-style: solid;
                    border-width: 8px;
                    // border-color: transparent transparent $secondary transparent;
                    border-color: $white transparent transparent transparent;
                    position: absolute;
                    bottom: -14px;
                    right: 50%;
                    margin-right: 4.2px;
                }
            }
        }

    }
}
/*Sub menu end*/
/*Form related start*/
.text-muted {
    color: $primary !important;
}
.buttonGrop {
    border-top: 1px solid $gray-200;
    padding: 1rem 0;
    .btn{
        margin-left: 0.6rem;
        min-width: 5rem;
        .spinner-border{
            width: 1rem;
            height: 1rem;

        }
    }

}
.custom-switch{
    padding: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    .custom-control-label{
        padding-right: 35px;
        &::before{
            right: 0;
            left: inherit;
            top:2px
        }
        &:after{
            right: calc(0.71rem + 2px);
            left: inherit;
            top:4px;
        }
    }
    .custom-control-input:checked ~ .custom-control-label::before{
        border-color: $teal;
        background-color: $teal;
    }
    .custom-control-input:checked ~ .custom-control-label::after{
        background-color:$white;
    }
}


p.note{
    font-size: 12px;
    line-height: 15px;
    margin: 10px 0 0;
}
.form-check{
    margin-bottom: 0.5rem;
}
.form-group ._2iA8p44d0WZ-WqRBGcAuEV{
    border-radius: 10px;
}
.iconBtn{
    background: $gray-200;
    padding: 0;
    border-radius: 4px;
    display: flex;
    align-items: center;
    height: 25px;
    width: 25px;
}
.form-control{
    &::placeholder {
        color: transparent;
    }
    &:focus{
        box-shadow:none;
    }
    &:disabled{
        cursor: not-allowed;
    }
    &+.form-label {
        transition: transform 0.25s, opacity 0.25s ease-in-out;
        transform-origin: 0 0;
        position: absolute;
        top: -0.70rem;
        left: 1.4rem;
        user-select: none;
        z-index: 0;
        margin-bottom: 0;
        transform: translate(1%, 70%);
        pointer-events: none;
        color: $gray-400;
    }
    &:focus,
    &:not(:placeholder-shown) {
        &+.form-label {
            transform: translate(1%, -10%);
            background: rgb(255,255,255);
            background: linear-gradient(180deg, rgba(255,255,255,1) 37%, rgba(253,253,253,1) 37%, rgba(252,252,252,1) 100%);
            padding: 0 2px;
            color: $secondary;
            font-size: $font-size-sm;
            top: -0.55rem;
        }
    }

}
sup {
    top: -.2em;
    color: $red;
    font-size: 100%;
}
.form-control:disabled, .form-control[readonly]{
    &:focus,
    &:not(:placeholder-shown) {
        &+.form-label {
            background: rgb(255,255,255);
            background: linear-gradient(180deg, rgba(255,255,255,1) 37%, rgba(253,253,253,1) 37%, rgba(241,241,241,1) 100%);
        }
    }

}
.add{
    margin-top:4px;
}
.multySelect{
    flex-wrap: wrap;
    .custom-checkbox{
        width: 15%;
        margin-top: 0.8rem;
}
}
.mt-4-9{
 margin-top: 1.9rem;
}
.mb-4-3, .my-4-3{
    margin-bottom: 2.3rem
}
.addPlus{
    svg{
        position: relative;
        top: -2px;
        left: -2px;
    }
}
/*Form related end*/
/*Page layout start*/
.pageTitle{
    font-size:$h4-font-size;
    padding: 0.5rem 0;
    line-height: 2rem;
}
.subTitle{
    font-size: $h5-font-size;
    font-weight: bold;
    .form-check, .custom-checkbox{
        font-size: 14px;
        font-weight: normal;
        line-height: 24px;
        margin: 0;
    }
    &.plusHr{
        border-bottom: 1px solid #f3efef;
        padding: 0.4rem 0.6rem 0.2rem;
        background: #f6f6f6;
        border-radius: 6px;
        font-weight: normal;
    }
}
.notification{
    position: fixed;
    top: 119px;
    right: 0;
    z-index: 99;
    background: transparent;
    color: #00367a;
    font-size: 14px;
    font-weight: bold;
    border: none;
    .close {
        display: none;
    }
}
/*Page layout end*/


/*Breadcrumb start*/
.breadcrumb.hderSec{
    background: transparent;
    color: $gray-800;
    padding: 0;
    margin: 16px 0;
    a{
        color:$gray-800;
    }
    .arrowIcon{
        transform: rotate(-90deg);
    }
}
/*Breadcrumb end*/


/*Table design start*/
.table td{
    .btn.btn-link {
        padding: 0;
    }
}
table{
    tr{
        cursor: pointer;
        transition: all .4s ease-in-out;
        &:hover{

                background-color: #fbfbfb;
                box-shadow:0px 6px 10px 0px rgba(0, 0, 0, 0.2);
                cursor: pointer;

        }
    }
}
.cardMainlayout{
    .table{
        margin-bottom: 0;
        thead th{
            border-top: none;
            font-weight: normal;
            color: $secondary;
            padding: 0.75rem 1.2rem;
        }
        td{
            color: $gray-800;
            padding: 0.75rem 1.2rem;
        }
    }
.tableLayout {
    border: 1px solid $gray-400;
    border-radius: 10px;
    color: $gray-800;
    overflow: hidden;
    box-shadow: 0 0 4px $gray-300;
    .table{
        margin-bottom: 0;
        thead th{
            border: none;
            padding: 0.75rem 1.2rem;
            background-color:$thBg;
        }
        td{
            color: $gray-800;
            padding: 0.75rem 1.2rem;
        }
    }

}
}
.table-bordered td {
    color: $gray-800;

}
.main-wrapper {
    margin-top: 30px;
}
.cc-history {
    border: 1px solid #d8d8d8;
    border-radius: 0;
    max-height: 300px;
    overflow-y: auto;
    .table {
        th {
            padding:5px 10px !important;
            vertical-align: middle;
            font-weight: bold !important;
            background: #f5f5f5;
        }
        td {
            padding: 5px 10px;
    vertical-align: middle;
    .btn {
        padding: 1px 15px !important;
    }
        }
    }
}


/*Table design start*/
/*Tab design start*/

.react-tabs__tab-panel, .tabContent{
    border: 1px solid $gray-400;
    padding: 15px;
    border-radius: 0 0 6px 6px;
    border-top: none;
}
.react-tabs .react-tabs__tab-list{
    border-bottom: 1px solid $gray-400;
    margin: 0;
}
.tabLink{
    .tabContent{
        border:none;
        padding: 15px 0;
    }
    .react-tabs__tab{
        border: none;
        padding: 0.2rem;
        margin-right: 0.8rem;
        color: $black;
        &.react-tabs__tab--selected{
            border-bottom: 1px solid $primary;
            color: $primary;
        }
    }
    .react-tabs .react-tabs__tab-list{
        border: none;
    }
}
/*Tab Design end*/

/*Pick list Design start*/
.c2-react-picklist{
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    .row{
        margin: 0;
        padding: 0.75rem;
        flex-wrap: nowrap;
        font-size: .75rem;
        .col-3{
            font-weight: bold;

        }
        +hr{
            +div{
                padding: 0.75rem;
                height: 130px;
                overflow-y: auto;
                input{
                    margin-bottom: 0.4rem;
                }
                span{
                    a{
                        color: $gray-900;
                    }
                }
            }
        }
    }
    div[class*="col-"]{
        padding: 0;
        max-width: 100%;
        flex: auto;

    }
    .c2-react-picklist-pane{
        padding: 0;
        &:last-child{
            margin: 0;
        }
       .text-right{
           span{
               background:url(../src/client/assets/images/search.svg);
               font-size: 0;
               width: 18px;
               height: 18px;
               display: inline-block;
               background-size: 20px;
               vertical-align: top;
           }
       }
    }
}
.c2-react-picklist{
    .c2-react-picklist-pane > div{
        border: 1px solid $gray-400;
        border-radius: 10px;

    }
    .c2-react-picklist-pane{
        &:first-child{
            &>div{
                border-radius: 10px 0 0 10px;
                border-right: none;
        }
    }
    &:last-child{
        &>div{
            border-radius: 0 10px 10px 0;
    }
}
}
}
.picklist{
    .form-label{
        position: absolute;
        top: -11px;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 37%, rgba(253,253,253,1) 37%, rgba(252,252,252,1) 100%);
        font-size: 0.76563rem;
        left: 24px;
        z-index: 1;
        padding: 0 2px;
        margin: 0;
        color: $secondary;

    }
}
/*Pick list Design end*/
/*Date Picker Design start*/
.react-datepicker-wrapper{
    width:100%;
    .react-datepicker__input-container{

        input{
            width: 100%;
            height: 40px;
            border-radius: 6px;
            border: 1px solid $gray-300;
            padding: 8px 20px 8px 10px;
            z-index: 1;
            position: relative;
            background: transparent;
            &:focus{
                border:1px solid #f9bd9a ;
                outline: none;
            }
        }
    }
}
.calendar{
    position: absolute;
    right: 1.2rem;
    top: .7rem;
    z-index: 0;
}
/*Date Picker Design End*/
/*Select list css changes start*/
.inputCheck{
    padding-top: 14px;
    >label{
        margin: 0;
    top: -10px;
    color: $secondary;
    position: absolute;
    font-size: 0.76563rem;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 37%, rgba(253,253,253,1) 37%, rgba(252,252,252,1) 100%);
    }
}
.selectplugin{
    label{
        position: absolute;
        z-index: 0;
        top: -11px;
        left: 17px;
        color: $secondary;
        padding: 0 2px;
        font-size: 0.76563rem;
        margin: 0;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 37%, rgba(253,253,253,1) 37%, rgba(252,252,252,1) 100%);
    }
}
.form-group{
    margin-bottom: 1.6rem;
    .css-wmw4vi-ReactDropdownSelect{
        border-radius: 4px;
        padding: 2px 5px 2px 10px;
        background-color: #fcfcfc;
        min-height: 40px;
        &:hover, &:focus-within{
            border-color: #f9bd9a;
        }
        &:focus, &:focus-within{
            box-shadow: none;
        }
    }
    .css-1yc4zyy-DropdownHandleComponent svg, .css-1aarvou-DropdownHandleComponent svg{
        width: auto;
        height: 24px;
    }
    .css-1aarvou-DropdownHandleComponent svg{
        margin-top: -8px;
    }
}
.nav-link{
    color: $gray-700;
}
.css-1okebmr-indicatorSeparator{
    display: none;
}
/*Select list css changes end*/
.boxShadow{
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
}
.invalid-feedback{
    display: block;
    position: absolute;
    left: 12px;
    bottom: -20px;
}
.sticky {
    position: sticky;
    top: 0;
    z-index: 100; /* this is optional and should be different for every project */
  }
  .width140{
    min-width: 140px;
  }
input:-webkit-autofill {
    background-color: #fcfcfc !important;
}
// * Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #888888;
  -webkit-box-shadow: 0 0 0px 1000px #fcfcfc inset;
  transition: background-color 5000s ease-in-out 0s;
}
#react-confirm-alert .react-confirm-alert-overlay{
    background: rgba(0, 0, 0, .3);
    .react-confirm-alert{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 30px;
        border-radius: 20px;
        width: 360px;
    .confirmD{
        height: 45px;
        width: 45px;
        background-image: url(../src/client/assets/images/attSpriteImage.svg);
        background-position:-296px -11px;
        display: inline-block;
    }
    h3{
        font-size: 16px;
        font-weight: bold;
        color:$secondary;
        margin: 14px 0;
    }
    p{
        color: $gray-800;
        strong{
            display: inline-block;
        }
    }
    }
}

.flightRvs{
    transform: rotate(180deg);
}
/*Footer start*/
footer{
    background-color: $secondary;
    padding: 8px 0;
    color: $white;

    p{
        margin: 0;
    }
}
/*Footer end*/

.dashbordSlider{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.default-nav{
    display: none !important;
}
// .each-slide > div {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     background-size: cover;
//     height: 430px;
//   }

//   .each-slide span {
//     padding: 20px;
//     font-size: 20px;
//     background: #efefef;
//     text-align: center;
//   }
.demo{
    .each-slide > div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        height: 350px;
      }
}
.each-fade {
    display: flex;
    width: 100%;
  }

  .each-fade > div {
    width: 100%;
    height: 430px;
  }

  .each-fade > div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /**** custom scrollbar ****/
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: white;
}

::-webkit-scrollbar {
	width: 6px;
	height: 4px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(102, 134, 175);
	border-radius: 3px;
}
.btn {
    &.btn-small {
        padding: 0px 10px !important;
        font-weight: bold;
    }
}

.upload-report .layoverLoader {
    background: rgba(255, 255, 255, 0.4);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}
.chart-panel {
    height: 110px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(255, 255, 255, .08);
    margin-top: 25px;
}
.black-bg {
    background: black !important;
}
