.costBox{
    .costList{
        a{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $gray-500;
        color: $gray-900;
        padding: 6px 0;
        &:hover{
            text-decoration: none;
        }
        svg{
            transition: all .4s ease-in-out;
            margin-left: 6px;
        }
        &.active{
            svg{
                transform: rotate(180deg);
            }
        }
        }
        p{
           padding-top: 6px;
        }
        div{
            margin-bottom: 8px;
            p{
                color: $gray-800;
                padding: 6px 0 0;
            }
        }
        &.total{
            border-top: 1px solid $gray-500;
            p{
                color: $secondary;
                font-weight: bold;
                font-size: 18px;
                em{
                    font-style: normal;
                    font-size: 14px;
                    font-weight: normal;
                }
            }
        }

    }
}