/*Dash Bord css start*/
.dashBordLogin{
    //background: url(../src/client/assets/images/bannerLogin.jpg) top center;
    background-repeat: no-repeat;
    background-size: auto 580px;
    height: 580px;
    &:before{
        content: '';
        width: 100%;
        height: 300px;
        background: rgb(22,35,51);
        background: linear-gradient(180deg, rgba(22,35,51,1) 1%, rgba(167,162,162,0) 100%);
        z-index: 1;
        position: absolute;
        opacity: 0.6;
    }
    .container{
        z-index: 9;
    }
}
.headerWrapper{
    height: 100px;
}
.hraderRight{
    color: $white;
    .signin{
        cursor: pointer;
        border: 1px solid $white;
        height: 50px;
        width: 130px;
        border-radius: 30px;
        justify-content: center;
        transition: all .4s ease-in-out;

        svg{
            margin-left: 10px;
            transition: all .4s ease-in-out;
        }
        &:hover{
            background-color: rgba(255, 255, 255, 0.3);
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
            svg{
               margin-left: 15px;
            }
        }

    }

}

.loginLayout{
    display: flex;
    justify-content: flex-end;
    padding-top: 100px;
    .loginForm{
        width: 460px;
        background: #fff;
        padding: 30px;
        border-radius: 30px;
        box-shadow:0 0 5px rgba(0, 0, 0, .3);
        h5{
            font-size: 20px;
            color: $primary;
            margin-bottom: 30px;
        }
        .checkedDiv{
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }
        .btn{
            border-radius: 30px;
        }
        p{
            margin: 25px 0 0;
            display: flex;
            justify-content: center;
            color: $gray-900;
        }
    }
.checkedDiv{
    a, label{
        color: $gray-800;
    }

}
}
.quote{
    padding-top: 100px;
    h1{
        color: $white;
        color: #fff;
        font-size: 44px;
        font-weight: normal;
        line-height: 60px;
    }
}
.bodyContent{
    background:$white;
    padding-top:100px;
}
.dashBordLayout{
    padding-top: 4rem;
    .aboutBanner{
        display: flex;
    justify-content: flex-end;
    }
    .titleLine{
        font-size: 34px;
        font-weight: bold;
        color: $black;
        margin-bottom: 30px;
        span{
            position: relative;
            &:after{
                content: '';
                height: 4px;
                width: 60px;
                display: flex;
                background: #F26F22;
                position: absolute;
                bottom: 15px;
                right: -80px;
                border-radius: 30px;

            }
        }

    }
    p{
        color: $gray-900;
        line-height: 30px;
        font-size: 16px;
        transition: all .6s ease-in-out;
    }
    .offerCard{
    background: #f7f7f7;
    border-radius: 20px;
    padding: 30px;
    padding-top:90px;
    cursor: pointer;
    transition: all .6s ease-in-out;
    margin-top:20px;
    &:hover{
        background: $secondary;
        color: $white;
        box-shadow:0 10px 20px rgba(0, 0, 0, 0.5);
        transform: scale(1.1);
        svg{
            path{
                fill: $white;
            }
        }
        h3, p{
            color: $white;
        }
    }
    svg{
        margin-bottom: 25px;
        path{
            fill: $secondary;
            transition: all .6s ease-in-out;
        }
    }
    h3{
        transition: all .6s ease-in-out;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    p{
        font-size: 14px;
        line-height: 22px;
    }

}
    .row{
        div[class*="col-"]{
            &:nth-child(2){
                .offerCard{
                background:#faf0f0;
                }
            }
            &:nth-child(3){
                .offerCard{
                background:#FFFAF3;
                }
            }
            &:nth-child(4){
                .offerCard{
                background:#F3F9FF;
                }
            }
            .offerCard{
                background: #f7f7f7;
                border-radius: 20px;
                padding: 30px;
                padding-top:90px;
                cursor: pointer;
                transition: all .6s ease-in-out;
                margin-top:20px;
                &:hover{
                    background: $secondary;
                    color: $white;
                    box-shadow:0 10px 20px rgba(0, 0, 0, 0.5);
                    transform: scale(1.1);
                    svg{
                        path{
                            fill: $white;
                        }
                    }
                    h3, p{
                        color: $white;
                    }
                }
                svg{
                    margin-bottom: 25px;
                    path{
                        fill: $secondary;
                        transition: all .6s ease-in-out;
                    }
                }
                h3{
                    transition: all .6s ease-in-out;
                    font-size: 16px;
                    font-weight: bold;
                    margin-bottom: 20px;
                }
                p{
                    font-size: 14px;
                    line-height: 22px;
                }

            }
        }
    }
}

.whyEzytrip{
    margin:20px 0 50px;
    .container{
        position: relative;
        padding: 50px 0 30px;
        &::before{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background:$white;
            border-radius: 30px;
            top: 0;
            left: -30%;
        }
    }
   .list{
    display: flex;
    padding:25px 0;
    margin:0 100px 10px 0;
    border-bottom: 1px solid $gray-500;
    &:last-child{
        border: none;

    }
    &:first-child{
        padding-top:0
    }
    div{
        max-width: 80%;
    }
    span{
        height: 80px;
        width: 80px;
        min-width: 80px;
        background: $primary;
        display: flex;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        svg{
            path{
                fill: $white;
            }
        }
        &.dashboardOne{
            background: $secondary;
        }
        &.priceTag{
            background: $gray-900;
        }
        &.easy{
            background: $green;
        }
    }
    p{
        margin:0;
        line-height: 22px;
        font-size: 14px;
    }
   }
   h3{
       font-size: 16px;
       color: $black;
   }
}

