.filterLayout{
    max-width: 25%;

    .fbyf{
        background: #475F7B;
        border-color: #475F7B;
        margin-bottom: 15px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        svg{
            margin-right: 10px;
            path{
                fill: $white;
            }
        }
        &:hover{
           background: #36D1A2;
           border-color:#36D1A2;
        }
    }
    .filter{
        background: $white;
        border-radius: 10px;
        box-shadow: 0 0px 4px rgba(0, 0, 0, .1);


        .title{
            padding: 15px 15px 12px;

            h5{
                margin: 0;
                color: $secondary;
                font-size: 16px;
                line-height: 24px;
            }
            svg{
                path{
                    fill: $secondary;
                }
            }
        }
        .filterSec{
            padding: 15px;
            border-top: 1px solid $gray-500;
                &.return{
                    border-top: none;
                }
                &.stops{
                    .filterLabel{
                        margin-bottom: 1rem;
                    }
                    ul{
                        display: flex;
                    }

                }
            .filterLabel{
                color:$secondary;
                margin-bottom: 6px;
                p{
                    margin: 0;
                }
                a{
                    color: $gray-500;
                    text-decoration: none;
                    &:hover{
                        color: $secondary;
                    }
                }
            }
            .ranges{
                margin: 26px 26px 0;
                .input-range__label--max .input-range__label-container, .input-range__label--min .input-range__label-container{
                    display: none;
                }
            }
            ul{
                list-style: none;
                line-height: 20px;

                padding: 0;
            }
            &.times{
                ul{
                    display: flex;
                    li{
                        a{
                            color: $gray-900;
                            margin-right: 18px;
                            padding-bottom: 2px;
                            font-size: 12px;
                            &:hover{
                                text-decoration: none;
                            }

                        }
                        &:hover{
                            a{
                                border-bottom: 1px solid $primary;
                                }
                        }
                        &.active{
                            a{
                            border-bottom: 1px solid $primary;
                            }
                        }
                    }
                }
            }
            &.airlines{
                .priceLbel{
                    font-size: 12px;
                    em{
                        font-style: normal;
                        color: $gray-800;
                    }
                }
            }
            .custom-checkbox{
                .custom-control-label::before, .custom-control-label::after{
                    width: .879rem;
                    height: .879rem;
                    left: -1.3rem;
                }
                .custom-control-input:checked ~ .custom-control-label::before{
                    border: $gray-900 solid 1px;
                    background-color: $gray-900;
                }
                .custom-control-label{
                    line-height: 26px;
                    font-size: 12px;
                    cursor: pointer;
                    &:before{
                        border: $gray-900 solid 1px;
                    }
                }
            }
        }

    }
}