.resultSection{
    .sort+.listView{
        border: 1px solid $gray-900;
    }
    .listView{
    background: $white;
    border-radius: 10px;
    padding: 20px;
    .columnDdate{
        display: none;
    }
    .flightBlock{
        flex-basis: auto;

    }
    .short-timeStops, .timeEx{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .fareRules{
        div{
            padding: 0;
        }
    }
        &.columnView{
            .flightBlock{
                flex-basis: 0;
                padding-right: 10px;
                padding-left: 15px;
                &+.flightBlock{
                    padding-right: 15px;
                    padding-left: 10px;
                }
            }
            .srpLogo{
                max-width: 50%;
                flex: 0 0 50%;
            }
            .short-timeStops{
                max-width: 43%;
                padding: 10px 0 !important;
                .time{
                    align-items: center;
                }
            }
            .timeEx{
                max-width: 100%;
                width: 100%;
                flex: 1;
                padding: 5px 10px 10px;
                padding-left: 15px !important;
                border-top: 1px dashed #D5D5D5;
                .seatsLeft, .duration{
                    flex-direction: row !important;
                    width: 50%;
                    justify-content: space-between;
                }
                .duration{
                    padding:0 20px;
                }
            }
            .rs-headerBlock{
                .rs-rTypeDate{
                    max-width: 25%;
                }
                .rs-FromTo{
                    max-width: 75%;
                    flex: 0 0 75%;
                    line-height: normal;
                    color: $secondary;
                    div[class*="col-"]{
                        max-width: fit-content;
                    }
                    .dstName{
                        display: none;
                    }
                    .iconFlight{
                        max-width: 15%;
                        flex: 0 0 15%;
                        text-align: center;
                    }
                }
                .columnDdate{
                    color: $gray-900;
                    font-size:12px;
                    display: block;

                }
                .listDdate{
                    display: none;
                }
            }
            .flightDetails{
                font-size: 12px;
                .flightRout p {
                    font-size: 12px;
                }
                .airLogo{
                    flex-direction: column;
                    line-height: 20px;
                }
                .rs-FromTo{
                    font-size: 12px;
                    p{
                        font-size: 10px;
                    }
                    strong {
                        font-size: 16px;
                        line-height: 20px;
                        small{
                            display: flex;
                        }
                    }
                }
                .tabLink .react-tabs .react-tabs__tab-list .react-tabs__tab--selected {
                    &::before{
                        bottom: -13px;
                    }
                }
            }
            .costBox{
                width:100%
            }
            .baggageinfo{
                h5{
                    font-size: 12px;
                }
            }

        }
}
    .rs-cheapest{
        min-width: 110px;
        height: 30px;
        background: rgba(54, 209, 162, .1);
        color: $secondary;
        font-size: 16px;
        border: 1px solid rgba(54, 209, 162, .1);
        border-radius: 6px;

        svg {
            path {
                fill: $secondary;
            }
        }
    }

    .rs-price {
        .blockPrice {
            strong {
                font-size: 24px;
                color: $secondary;
                line-height: normal;

                em {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                }
            }

            span {
                font-size: 11px;
                line-height: normal;
                color: $gray-900;
            }
        }

        .btn-primary {
            height: 36px;
            font-weight: bold;
            font-size: 12px;
            min-width: 96px;
        }
    }

    .rs-headerBlock {
        background: $gray-100;
        border-radius: 6px;
        color: $gray-900;

        .rs-row {
            min-height: 60px;
        }

        .rs-FromTo {
            span {
                line-height: 20px;
            }

        }

        .rs-rTypeDate {

            .departure {
                background-color: $gray-900;
                color: $white;
                line-height: normal;
                position: relative;
                height: 24px;
                margin-right: 24px;
                padding-right: 10px;
                font-size: 14px;

                &:before {
                    content: "";
                    border-style: solid;
                    border-width: 12px 0px 12px 12px;
                    border-color: #682d2d00 transparent #00367a00 $gray-900;
                    position: absolute;
                    top: 0px;
                    right: -12px;
                }

                &.arrival {
                    svg {
                        transform: rotate(180deg);
                    }
                }
            }

            span {
                font-size: 12px;
            }

        }

    }

    .rs-block {
        border: 1px solid $gray-500;
        border-radius: 6px;
        margin-top: 15px;
        overflow: hidden;
        z-index: 1;
        cursor: pointer;
        transition: all .2s;
        background: $white;
        transition: all .8s ease-in-out;
        .flightSelect {
            height: 16px;
            width: 16px;
            border: 2px solid $secondary;
            border-radius: 50%;
            margin-right: 20px;
            position: relative;

            &:after {
                content: '';
                height: 8px;
                width: 8px;
                background: $secondary;
                position: absolute;
                border-radius: 50%;
                left: 50%;
                margin-left: -4px;
                top: 50%;
                margin-top: -4px;
                opacity: 0;
                transition: all .4s ease-in-out;
            }
        }

        .airLogo {
            padding: 10px 10px 10px 20px;

            img {
                width: 40px;
                margin-right: 10px;
            }

            strong {
                font-weight: normal;
                color: $gray-900;
            }

            span {
                color: $gray-800;
                line-height: 20px;
            }
        }

        .time {
            line-height: 24px;

            span {
                font-size: 18px;
                font-weight: bold;
                color: $gray-900;
                position: relative;

                .stopNo {
                    font-style: normal;
                    position: absolute;
                    color: $red;
                    font-size: 10px;
                    top: -5px;
                    right: -15px;
                }

            }

            strong {
                font-size: 18px;
                color: $gray-800;
                text-transform: uppercase;
                letter-spacing: 2px;
                text-align: center;
            }

        }

        .short-timeStops {
            .stop {
                span {
                    line-height: 18px;
                    font-size: 12px;
                    color: $gray-800;
                    position: relative;

                    &.icons {
                        position: relative;
                        display: flex;
                        width: 100px;
                        align-items: center;
                        justify-content: center;
                        height: 10px;
                        border-bottom: 1px dashed $gray-900;
                        margin-bottom: 10px;

                        svg {
                            position: relative;
                            bottom: -5px;
                            path {
                                fill: $gray-900;
                            }
                        }
                        &::after {
                            content: '';
                            height: 4px;
                            width: 4px;
                            background: $gray-900;
                            position: absolute;
                            border-radius: 50%;
                            left: 0px;
                            bottom: -2.5px;
                        }
                        &::before {
                            content: '';
                            height: 4px;
                            width: 4px;
                            background: $gray-900;
                            position: absolute;
                            border-radius: 50%;
                            right: 0px;
                            bottom: -2.5px;
                        }
                        // &::after {
                        //     content: '';
                        //     width: 100px;
                        //     display: flex;
                        //     position: absolute;
                        //     height: 1px;
                        //     border-bottom: 1px dashed $gray-900;
                        //     left: -44.2px;
                        //     top: 9px;
                        // }
                    }

                }
            }
        }

        .duration {
            color: $gray-900;
        }

        .baggage {
            font-size: 12px;

            svg {
                path {
                    fill: $gray-900;
                }
            }
        }

        .seatsLeft {
            color: $gray-900;

            svg {
                path {
                    fill: $gray-900;
                }
            }
        }

        .refundType {
            height: 24px;
            padding: 0 10px;
            border: 1px solid;
            font-size: 12px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 20px;
            margin-top: 6px;

            &.refund {
                border-color: $green;
                color: $green;

            }

            &.nonrefund {
                border-color: $red;
                color: $red;
            }

        }

        .rsb-bottom {
            border-top: 1px dashed $gray-500;
            height: 36px;
            padding-left: 60px;

            span {
                display: flex;
                align-items: center;
                color: $gray-900;
                font-size: 12px;
                margin-right: 15px;

                svg {
                    margin-right: 4px;

                    path {
                        fill: $gray-900;
                    }
                }
            }
        }

        .flightDetailsLink {
            background: #f0f0f0;
            height: 36px;
            display: flex;
            align-items: center;
            padding: 0 10px;
            border-radius: 0 0 6px 0;
            color: $gray-900;
            cursor: pointer;

            svg {
                margin-left: 6px;
                transition: all .4s ease-in-out;

                path {
                    fill: $gray-900;

                }
            }

            &.active {
                color: $primary;
                background: rgba(242, 111, 34, .2);

                svg {
                    transform: rotate(180deg);

                    path {
                        fill: $primary;
                    }
                }
            }

        }

        // &.selected{
        //     border: 1px dashed $gray-900;
        //     .flightSelect{
        //         &:after{
        //             content: '';
        //             opacity: 1;
        //         }
        //     }
        // }
        &.itinarary {
            .flightSelect {
                display: none;
            }
        }
        &.selected{
            border: 1px dashed $gray-900;
            box-shadow: 0 0px 6px #b1b1b3;
            &:hover{
                border: 1px solid $primary;
            }
            .flightSelect{
                &:after{
                    content: '';
                    opacity: 1;
                }
            }
        }

        &:hover {
            border: 1px solid $gray-600;
            box-shadow: 0 0px 6px #b1b1b3;
        }
    }

    .flightDetails {
        display: none;
        transition: all 0.4s;
        position: relative;
        width: 98%;
        margin: 15px 1% 1%;
        background: #fff;
        z-index: 9;
        border: 1px solid $primary;
        border-radius: 6px;
        box-shadow: 0px 2px 2px #b3b3b347;
        margin-bottom:2%;

        &::before {
            content: "";
            border-style: solid;
            right: 30PX;
            border-width: 0 8px 14px 8px;
            top: -14px;
            border-color: transparent transparent $primary transparent;
            position: absolute;
        }

        &::after {
            content: "";
            border-style: solid;
            right: 30PX;
            border-width: 0 8px 14px 8px;
            top: -13px;
            border-color: transparent transparent #fff transparent;
            position: absolute;
        }

        .tabLink {
            .react-tabs {
                .react-tabs__tab-list {
                    border-bottom: 1px solid $gray-300;

                    .react-tabs__tab {
                        padding: 12px 0;
                        margin: 0 15px;

                        &--selected {
                            border-bottom: 2px solid $primary;

                            &::before {
                                content: "";
                                border-style: solid;
                                border-width: 6px;
                                // border-color: transparent transparent $secondary transparent;
                                border-color: $primary transparent transparent transparent;
                                position: absolute;
                                bottom: -12px;
                                right: 50%;
                                margin-right: -5px;
                            }
                        }
                    }
                }
            }

            .tabContent {
                padding: 20px;
            }

            .baggageinfo {
                p {
                    margin: 0;
                    color: $gray-900;
                }

                span {
                    color: $gray-800;
                }

                .tag {
                    height: 16px;
                    background: $teal;
                    color: $white;
                    position: relative;
                    font-size: 10px;
                    display: flex;
                    width: 35px;
                    align-items: center;
                    justify-content: center;
                    border-radius: 2px 0 0 2px;
                    line-height: normal;

                    &:before {
                        content: "";
                        border-style: solid;
                        border-width: 8px 0px 8px 8px;
                        border-color: #682d2d00 transparent #00367a00 $teal;
                        position: absolute;
                        top: 0px;
                        right: -8px;
                    }

                    &::after {
                        content: "";
                        height: 4px;
                        width: 4px;
                        border: 1px solid $white;
                        border-radius: 50%;
                        position: relative;
                        right: -6px;
                    }
                }

                .rout {
                    color: $gray-900;
                }
            }

            .fareRules {
                padding: 0;
                margin: 0;
                list-style: none;

                li {
                    border-bottom: 1px solid #ccc;
                    padding: 12px 0;

                    &:first-child {
                        padding-top: 0;
                    }

                    p {
                        margin: 0;
                        color: $gray-900;
                        line-height: normal;

                    }

                    span {
                        font-size: 12px;
                        color: $gray-800;
                        line-height: 24px;
                    }

                    .status {
                        p {
                            &.allow {
                                color: $teal;
                            }

                            &.notAllow {
                                color: $red;
                            }

                        }
                    }
                }
            }
        }

        p {
            line-height: 20px;
            margin: 15px 0 0;
            color: $gray-900;
        }

        .costBox {
            width: 60%;
            .openPrice{
                span{
                    svg{
                        margin-left: 6px;
                    }
                }
            }
        }
    }

        .btn.moreResult {
            border-radius: 0 0 10px 10px;
            border-color: $gray-500;
            position: absolute;
            bottom: -30px;
            z-index: 9;
            background-color: $white;
            left: 50%;
            min-width: 140px;
            text-align: center;
            margin-left: -70px;
            height: 30px;
            border-top:none;
            svg {
                margin-right: 6px;
            }

            &:hover {
                color: $gray-900;
                background-color: $gray-100;
            }
        }

    .flightRoutInfo {
        color: $gray-900;

        .rs-FromTo {
            span {
                line-height: 20px;
            }

            strong {
                font-size: 18px;

                small {
                    color: $gray-900;
                }
            }

            small {
                color: $red
            }
        }

        p {
            margin: 0;

            &.routDate {
                font-size: 16px;

            }
        }

        .layoverInfo {
            background: $gray-100;
            padding: 0 20px;
            border-radius: 10px;
            margin: 20px 0;
            color: $gray-900;
        }
    }

    .flighPrice {
        display: none !important;
    }

    .owned,
    .return {
        .short-timeStops {
            padding: 0 !important;
        }

        .flightSelect,
        .timeEx {
            display: none !important;
        }

        .flighPrice {
            display: block !important;
            text-align: center;
            font-size: 18px;
        }

        .rightBlock {
            padding-top: 10px;
            padding-left: 0;
        }
        .flightBlock{
            padding: 0;
        }
    }
}

.fdnextOpen+.flightDetails {
    display: block;
}
.rBlocks{position:relative; margin-bottom:20px}
.rBlocks > .rs-block{ display:none;}
.rBlocks.moreFltOpen > .rs-block{ display:block;}
.rBlocks > .rs-block:nth-child(1), .rBlocks > .rs-block:nth-child(2){
    display:block;
}
.rBlocks > .rs-block:nth-child(1)+.moreResult, .rBlocks > .rs-block:nth-child(2)+.moreResult {display:none !important;}
.flightRout {
    p {
        font-size: 16px;
    }
}

.itineraryPage {
    .resultSection {
        border-radius: 20px;

    }
}

.roundTrip {
    .resultSection {
        .rs-headerBlock {
            background: $white;
        }

        .sortBy {
            .label {
                position: absolute;
                left: 24px;
                top: 8.5px;
                z-index: 9;
            }

            .css-g1d714-ValueContainer {
                padding-left: 60px;
            }

            .css-1uccc91-singleValue {
                color: $gray-900;
            }
        }

        .rs-block {
            margin-top: 0;
            transition: all .5s ease-in-out;
            cursor: pointer;

            .airLogo {
                padding: 10px 0;
            }

            .short-timeStops {
                .stop {
                    span {
                        line-height: 18px;
                        font-size: 12px;
                        color: $gray-800;
                        position: relative;

                        &.icons {
                            position: relative;
                            display: block;

                            svg {
                                path {
                                    fill: $gray-900;
                                }

                            }

                            &::after {
                                content: '';
                                width: 100px;
                                display: flex;
                                position: absolute;
                                height: 1px;
                                border-bottom: 1px dashed $gray-900;
                                left: -44.2px;
                                top: 9px;
                            }
                        }

                        &:first-child {
                            &::after {
                                content: '';
                                height: 4px;
                                width: 4px;
                                background: $gray-900;
                                position: absolute;
                                border-radius: 50%;
                                left: -26px;
                                bottom: -12px;
                            }

                            &::before {
                                content: '';
                                height: 4px;
                                width: 4px;
                                background: $gray-900;
                                position: absolute;
                                border-radius: 50%;
                                right: -25px;
                                bottom: -12px;
                            }
                        }
                    }
                }
            }

            .flighPrice {
                font-size: 18px;
                color: $secondary;
            }

            .rsb-bottom {
                padding-left: 15px;
            }

            &.selected {
                border: 1px solid $primary;
                box-shadow: 0 0px 6px #b1b1b3;

                &:hover {
                    border: 1px solid $primary;
                }
            }

            &:hover {
                border: 1px solid $gray-600;
                box-shadow: 0 0px 6px #b1b1b3;
            }

            .flightDetails {
                margin-bottom: 5px;

                .tabContent {
                    padding: 10px;

                    p {
                        font-size: 12px;
                    }

                    .fareRules {
                        font-size: 12px;

                        li {
                            padding: 5px 0;
                        }

                    }
                }

                .costBox {
                    width: 100%;
                }
            }
        }

        .flightRoutInfo {
            font-size: 12px;

            .rs-FromTo {
                strong {
                    font-size: 14px;
                }

            }
        }

        .baggageinfo {
            font-size: 12px;

            h5 {
                font-size: 14px;
            }
        }

    }

}

.offerLabel {
    color: $secondary;
}

.confirmation {
    .resultSection {
        padding: 20px;
        border-radius: 20px;
    }

    .confirmMessage {
        border: 1px solid $teal;
        padding: 10px 15px;
        border-radius: 15px;
        color: $secondary;
        background-color: rgba(32, 201, 151, .1);

        p {
            color: $gray-900;
        }

        h3 {
            font-size: 20px;
        }

        svg {
            path {
                fill: $white;
            }
        }

        .prient {
            margin-left: auto;

            svg {
                path {
                    fill: $green;
                }
            }
        }
    }

    .confirmStatus {
        height: 40px;
        width: 40px;
        display: flex;
        background: $teal;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
    }

    .title {
        font-size: 16px;
        border-bottom: 1px solid $gray-300;
        padding-bottom: 10px;
        margin-bottom: 20px;
        color: $black;
    }

    .summary {
        color: $gray-800;

        span {
            color: $gray-900;
        }

    }

    .PassengerDetails {
        color: $gray-800;

        .header {
            color: $secondary;
            border-bottom: 1px solid $gray-300;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }

        .passengerList {
            .list {
                background-color: $gray-200;
                border: 1px solid $gray-100;
                padding: 6px;
                border-radius: 6px;
                margin-bottom: 10px;

                &:last-child {
                    margin: 0;
                }

                .row {
                    margin-top: 15px;
                    margin-bottom: 15px;
                }

                .special {
                    span {
                        margin-right: 6px;
                        text-transform: capitalize;

                        &::after {
                            content: ',';
                        }

                        &:last-child {
                            &::after {
                                content: ',';
                                display: none;
                            }
                        }
                    }
                }

                .status {
                    &.confirm {
                        color: $green;
                    }

                    &.cancel {
                        color: $red;
                    }
                }

            }
        }
    }

    .total {
        border-top: 1px solid $gray-300;
        padding-top: 15px;
        margin-top: 15px;
        font-size: 18px;
        color: $gray-900;

        strong {
            padding-left: 60px;
            color: $secondary;

            em {
                font-style: normal;

                font-size: 16px;
                font-weight: normal;
            }
        }
    }
}

.selectedRoutes {
    background: rgba(0, 54, 122, .8);
    color: $white;
    padding: 15px;
    border-radius: 10px;
    line-height: 20px;

    p {
        font-size: 12px;
    }

    span {
        font-size: 12px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 100px;
    }

    .owned,
    .return {
        border-right: 1px solid $white;
    }

    .btn {
        font-size: 12px;
    }

    .price {
        strong {
            font-size: 16px;
        }

    }
}

.sticky {
    .selectedRoutes {
        background: rgba(0, 54, 122, 1);
    }
}

.priceTag {
    font-style: normal;
    font-size: 80%;
    font-weight: normal;
}

.Offers {
    .airline {
        background: $white;
        line-height: 20px;
        padding: 5px 10px;
        width: 15.5%;
        border-radius: 10px;
        box-shadow: 0 0 3px rgba(0, 0, 0, .2);
        transition: all .5s ease-in-out;
        border: 1px solid;
        border-color: transparent;
        cursor: pointer;

        span {
            color: $gray-800;
            font-size: 12px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            max-width: 90px;
        }

        strong {
            color: $secondary;
        }

        &:hover {
            box-shadow: 0 0 6px rgba(0, 0, 0, .2);
            border-color: $gray-900;
        }

        img {
            margin-right: 10px;
        }

        &.active {
            border: 1px solid $secondary;
        }
    }
}

.travellerList {
    .showHideLayout {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }

        .showHide-content {
            border: 1px solid $gray-100;
            border-top: none;
            border-radius: 0 04px 4px;
            margin-top: -2px;
        }

        .show-tg-line {
            background: $gray-100;
            padding: 10px;
            border-radius: 4px;

            .panelTitle {
                font-size: 16px;
                color: $secondary;

            }
        }
    }
}
/*Filter loaders*/
.loaderFlex { display: flex; flex-wrap: nowrap; justify-content: space-between; }
.FlterBar .loadPFltr{ position: relative}
.FlterBar .loadPFltr:before,.FlterBar .loadPFltr:after{ content:""; width:20px; height:20px; border:2px solid #4092FB; border-radius:50%; position:absolute; z-index:10; background:#fff}
.FlterBar .loadPFltr:before{ left: 0}
.FlterBar .loadPFltr:after{ right: 0}
.FlterBar .loadPFltr .barList,.showFilters .tab-pane .loadPFltr .barList{top:-25px}
.FlterBar .loadPFltr .barList:before{width:100%; height:2px; background:#4092FB; position:absolute; content:""; z-index: 1}
.FlterBar .loadPFltr .barList span{ cursor: default}
.FlterBar .loadPFltr .barList span:hover{background:#e3edf9}
.loadList{ margin:0; padding:0; list-style:none}
.loadList > li{ display:inline-block;}
.loadList.fulWid > li{ width:100%}
.loadList .sngleBlock:empty{ width:120px; height:40px;
	background-image: linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%),linear-gradient( RGBA(119, 153, 190,.2) 20px, transparent 0 ),linear-gradient( RGBA(119, 153, 190,.2) 20px, transparent 0 );
	background-repeat: no-repeat;
	background-size:20px 20px,75px 20px,20px 20px;
	background-position: 10px 10px,10px 10px,90px 10px;
	animation: sngleBlock 1s infinite;
}
.stopsLoader:empty{	width:20%; height: 60px;
	background-image: linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%),linear-gradient( RGBA(119, 153, 190,.2) 40px, transparent 0 ),linear-gradient( RGBA(119, 153, 190,.2) 10px, transparent 0 );
	background-repeat: no-repeat;
	background-size:20px 70px, 100% 70px, 100% 70px;
	background-position: 0 0, 0 0, 0 50px;
	animation: slAnim 1s infinite;
}
.airLgolist:empty{	width:100%; height: 35px;
	background-image: linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%),linear-gradient( RGBA(119, 153, 190,.2) 20px, transparent 0 ),linear-gradient( RGBA(119, 153, 190,.2) 20px, transparent 0 ),linear-gradient( RGBA(119, 153, 190,.2) 20px, transparent 0 );
	background-repeat: no-repeat;
	background-size:20px 30px,15% 30px,50% 30px,20% 30px;
	background-position: 0px 0px,0px 10px,42% 10px,96% 10px;
	animation: airLgolist 1s infinite;
}
.normlist:empty{	width:100%; height: 42px;
	background-image: linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%),linear-gradient( RGBA(119, 153, 190,.2) 20px, transparent 0 ),linear-gradient( RGBA(119, 153, 190,.2) 20px, transparent 0 );
	background-repeat: no-repeat;
	background-size:20px 30px,65% 30px,20% 30px;
	background-position: 10px 10px,10px 10px,95% 10px;
	animation: normlist 1s infinite;
}
.fltDtLoader:empty{
	width:100%; height: 20px;
	background-image: linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(240, 240, 240, 0.5) 50%, rgba(255, 255, 255, 0) 100%),linear-gradient( RGBA(119, 153, 190,.2) 20px, transparent 0 );
	background-repeat: no-repeat;
	background-size:20px 30px,65% 30px;
	background-position: 0px 10px,0px 10px;
	animation: fltDtLoader 1s infinite;
}
.depArvLoader:empty{
	width:100%; height: 70px;
	background-image: linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(240, 240, 240, 0.5) 50%, rgba(255, 255, 255, 0) 100%),linear-gradient( RGBA(119, 153, 190,.2) 15px, transparent 0 ),linear-gradient( RGBA(119, 153, 190,.2) 10px, transparent 0 );
	background-repeat: no-repeat;
	background-size:20px 70px,60% 30px,80% 30px;
	background-position: 0px 10px,0px 10px,0px 35px ;
	animation: depArvLoader 1s infinite;
}
.fltLegLoad:empty{
	width:100%; height: 70px;
	background-image: linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%),
	radial-gradient( circle 8px at 10px 10px, RGBA(119, 153, 190,.2) 99%, transparent 0 ),
	linear-gradient( RGBA(119, 153, 190,.2) 30px, transparent 0 ),
	linear-gradient( RGBA(119, 153, 190,.2) 15px, transparent 0 ),
	linear-gradient( RGBA(119, 153, 190,.2) 5px, transparent 0 ),
	linear-gradient( RGBA(119, 153, 190,.2) 30px, transparent 0 ),
	linear-gradient( RGBA(119, 153, 190,.2) 30px, transparent 0 ),
	linear-gradient( RGBA(119, 153, 190,.2) 30px, transparent 0 ),
	linear-gradient( RGBA(119, 153, 190,.2) 1px, transparent 0 ),
	linear-gradient( RGBA(119, 153, 190,.2) 5px, transparent 0 ),
	linear-gradient( RGBA(119, 153, 190,.2) 5px, transparent 0 ),
	linear-gradient( RGBA(119, 153, 190,.2) 15px, transparent 0 ),
	linear-gradient( RGBA(119, 153, 190,.2) 15px, transparent 0 ),
	linear-gradient( RGBA(119, 153, 190,.2) 15px, transparent 0 ),
	linear-gradient( RGBA(119, 153, 190,.2) 15px, transparent 0 ),
	linear-gradient( RGBA(119, 153, 190,.2) 15px, transparent 0 ),
	linear-gradient( RGBA(119, 153, 190,.2) 15px, transparent 0 );
	background-repeat: no-repeat;
	background-size:20px 70px, 20px 20px, 8% 40px,8% 40px,8% 20px,8% 40px,10% 40px,10% 40px,30% 40px,10% 40px,15% 40px, 12% 20px,12% 20px,12% 20px,12% 20px,12% 20px,12% 20px;
	background-position: 10px 0px,10px 15px,5% 10px,15% 10px,15% 35px,30% 8px,80% 10px,98% 10px,55% 22px,55% 8px,55% 33px,2% 60px,20% 60px,38% 60px,56% 60px,74% 60px,94% 60px;
	animation: fltLegLoad 1s infinite;
}
.fltPrceLoader:empty{ width: 100%; height:350px;
	background-image: linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%),
	linear-gradient( RGBA(119, 153, 190,.2) 15px, transparent 0 ),
	linear-gradient( RGBA(119, 153, 190,.2) 15px, transparent 0 ),
	linear-gradient( RGBA(119, 153, 190,.2) 45px, transparent 0 ),
	linear-gradient( RGBA(119, 153, 190,.2) 15px, transparent 0 );
	background-repeat: no-repeat;
	background-size: 90% 200px, 90% 30px, 60% 30px, 80% 50px, 90% 20px;
	background-position: 5% 0,5% 0,5% 25px,5% 50px,5% 105px ;
	animation: fltPrceLoader 1s infinite;
}

.htlLoader:empty{ width:100%; height:180px; margin-bottom:10px;
  background-image: linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%), linear-gradient( rgba(119, 153, 190,.2) 150px, transparent 0 ), linear-gradient( rgba(119, 153, 190,.2) 20px, transparent 0 ), linear-gradient( rgba(119, 153, 190,.2) 10px, transparent 0 ), linear-gradient( rgba(119, 153, 190,.2) 15px, transparent 0 ),
linear-gradient( rgba(119, 153, 190,.2) 20px, transparent 0 ), linear-gradient( rgba(119, 153, 190,.2) 10px, transparent 0 ),  linear-gradient( rgba(119, 153, 190,.2) 10px, transparent 0 ), linear-gradient( rgba(119, 153, 190,.2) 10px, transparent 0 ), linear-gradient( rgba(119, 153, 190,.2) 50px, transparent 0 ),linear-gradient( rgba(119, 153, 190,.2) 10px, transparent 0 ),linear-gradient( #fff 170px, transparent 0 );
  background-repeat: no-repeat;
  background-size:50px 170px, 18% 140px, 45% 120px, 38% 120px, 36% 120px, 36% 120px, 36% 120px, 20% 120px, 20% 120px, 14% 150px,18% 150px, 100% 170px;
  background-position:-50px 0,10px 10px,39% 10px,35% 40px,34% 60px,34% 90px,34% 125px,98% 10px,98% 30px,98% 50px,98% 120px,0 0;
   animation: htlShine 2s infinite;
}
@keyframes htlShine {
		to {background-position:150% 0,10px 10px,39% 10px,35% 40px,34% 60px,34% 90px,34% 125px,98% 10px,98% 30px,98% 50px,98% 120px,0 0;}
	}
@keyframes slAnim{
	to {background-position:100% 0, 0 0, 0 50px;}
}
@keyframes sngleBlock{
	to {background-position:120px 10px,10px 10px,90px 10px;}
}
@keyframes airLgolist{
	to {background-position:100% 0,0 10px,42% 10px,96% 10px;}
}
@keyframes normlist{
	to {background-position:100% 10px,10px 10px,95% 10px;}
}
@keyframes fltDtLoader{
	to {background-position:100% 10px,0px 10px;}
}
@keyframes depArvLoader{
	to {background-position:100% 10px,0px 10px,0px 35px ;}
}
@keyframes fltLegLoad{
	to {background-position:100% 0px,10px 15px,5% 10px,15% 10px,15% 35px,30% 8px,80% 10px,98% 10px,55% 22px,55% 8px,55% 33px,2% 60px,20% 60px,38% 60px,56% 60px,74% 60px,94% 60px;}
}
@keyframes fltPrceLoader{
	to {background-position: 100% 0,5% 0,5% 25px,5% 50px,5% 105px ;}
}