/* Sort Style start*/
.sort{
    display: flex;
    justify-content: space-between;
    margin-bottom: .45rem;
    .sortByValue{
        display: flex;
    }
    ul{
        list-style: none;
        box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
        background-color: $white;
        border-radius:10px;
        overflow: hidden;
        display: flex;
        padding:0;
        li{
            a{

                border-right: 1px solid $gray-100;
                font-size: 16px;
                font-weight: bold;
                color: $gray-900;
                border-bottom: 3px solid $gray-500;
                height: 80px;
                width: 160px;
                justify-content: center;
                padding-left: 20px;
                display: flex;
                flex-direction: column;
                &:hover{
                    text-decoration: none;
                    border-bottom: 3px solid $green;
                }
                svg{
                    path{
                        fill: $gray-900;
                    }
                }
                .sortPrice{
                    font-size: 16px;
                    font-weight: normal;
                    line-height: normal;
                    margin-top: 4px;
                    strong{
                        font-size: 20px;
                    }
                }
            }
            &.active{
                a{
                    border-bottom: 3px solid $green;
                }
            }
        }

    }
    .sortRange{
        margin-left: 10px;
        transition: all .5s ease-in-out;
        a{
            box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
            background-color: $white;
            border-radius:10px;
            font-size: 16px;
            font-weight: bold;
            color: $gray-900;
            text-align: center;
            width: 80px;
            height: 80px;
            border-bottom: 2px solid $gray-500;
            justify-content: center;
            align-items: center;
            flex-direction: column ;
            display: flex;
            &:hover, &.active{
                text-decoration: none;
                border-bottom: 3px solid $gray-900;

            }
            svg{
                transform: rotate(90deg);
                margin-top: 6px;
                path{
                    fill: $gray-900;
                }
            }

        }
        .sortBy{
            ul{
                border-radius:10px;
                overflow: inherit;
                flex-direction: column;
                width: 150px;
                padding:0 0 10px;
                margin-top: 11px;
                &:after{
                    content: "";
                    right: 30px;
                }
                &:before{
                    content: "";
                    right: 30px;
                }
                li{
                    a{

                    font-weight: normal;
                    font-size: 14px;
                    border: none;
                    background: none;
                    box-shadow: none;
                    display: flex;
                    width: 100%;
                    align-items: flex-start;
                    justify-content: left;
                    padding: 2px 0 2px 15px;
                    border-radius: 0;
                    height: auto;

                    }
                    &:hover{
                        a{
                            background: $gray-100;
                        }
                    }
                    &:first-child{
                        margin-top: 10px;
                    }
                }
            }
        }
        &.list, &.box{

            &:hover{
                a{
                    border-bottom: 3px solid #36D1A2;
                }
            }

        }
    }
    .gridStyle{
        a{
            font-weight: normal;
            color: $gray-800;
            svg{
                transform: rotate(0deg);
                margin-top: 2px;
                height: 20px;
                path{
                    fill: $gray-800;
                }
            }
            &:hover{
                border-bottom: 3px solid $gray-900 !important;
            }
            &.active {
                border-bottom: 3px solid $gray-900;
                span{
                    color: $gray-900;
                }

                svg{
                    path{
                        fill: $gray-900;
                    }
                }
            }
        }

    }

}
/* Sort Style end*/